Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

doc-metadata-autofix:
  name: Doc Metadata Auto-Fix
  entry: python3 scripts/standardize_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  stages:
  - pre-commit
  pass_filenames: true

emoji-enforcer:
  name: Emoji Usage Policy Enforcer
  entry: python3 scripts/enforce_emoji_policy.py
  language: python
  pass_filenames: true

fix(dev): remove circular dependency between module and service account
  envs/dev/main.tf
Due: none

feat: implement seamless build deployment with build_id immutability
  Makefile
  README.md
  docs/adrs/ADR-0148-seamless-build-deployment-with-immutability.md
  docs/analysis/BRIDGE_ANALYSIS.md
  docs/analysis/BUG_FIXES_SUMMARY.md
  docs/changelog/entries/CL-0121-seamless-build-deployment.md
  docs/how-it-works/SEAMLESS_BUILD_DEPLOYMENT.md
  envs/dev/main.tf
  envs/dev/variables.tf
  scripts/record-build-timing.sh
Due: doc-metadata-autofix, emoji-enforcer

fix: exclude secrets and EKS access entries from ephemeral builds
  envs/dev/main.tf
Due: none

fix: separate account-scoped resources from ephemeral cluster lifecycle
  envs/dev/main.tf
  envs/dev/terraform.tfvars
  envs/dev/variables.tf
Due: none

revert: restore simple access entry behavior (remove unnecessary complexity)
  envs/dev/main.tf
  envs/dev/variables.tf
Due: none

docs: add ADR-0149 documenting simplified resource lifecycle separation
  docs/adrs/ADR-0148-seamless-build-deployment-with-immutability.md
  docs/adrs/ADR-0149-simplified-resource-lifecycle-separation.md
Due: doc-metadata-autofix, emoji-enforcer

fix(eks): stabilize seamless deployment workflow (CL-0125)
  bootstrap/40_platform-tooling/10_argocd_apps.sh
  docs/adrs/ADR-0153-cluster-provisioning-identity.md
  docs/changelog/entries/CL-0125-seamless-build-stabilization.md
  envs/dev/main.tf
  envs/dev/terraform.tfvars
  scripts/record-build-timing.sh
Due: doc-metadata-autofix, emoji-enforcer

feat(automation): upgrade bootstrap to v3 and implement dynamic cluster discovery (ADR-0154)
  Makefile
  docs/adrs/ADR-0154-promote-bootstrap-v3.md
  envs/dev/terraform.tfvars
Due: doc-metadata-autofix, emoji-enforcer

chore: cycle build_id to .92 for next session
  envs/dev/terraform.tfvars
Due: none

chore(health): verified platform health, fixed metadata & vq bugs
  .goldenpath/value_ledger.json
  PLATFORM_HEALTH.md
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
  docs/adrs/ADR-0148-seamless-build-deployment-with-immutability.md
  docs/adrs/ADR-0153-cluster-provisioning-identity.md
  docs/adrs/ADR-0154-promote-bootstrap-v3.md
  docs/analysis/BRIDGE_ANALYSIS.md
  docs/analysis/BUG_FIXES_SUMMARY.md
  docs/changelog/entries/CL-0121-seamless-build-deployment.md
  docs/changelog/entries/CL-0125-seamless-build-stabilization.md
  docs/how-it-works/SEAMLESS_BUILD_DEPLOYMENT.md
  how-it-works/metadata.yaml
  scripts/lib/vq_logger.py
  tests/features/doc_auto_healing/metadata.yaml
  tests/features/doc_auto_healing/test-record.md
  tests/features/ecr_catalog_generator/actual-output.md
  tests/features/ecr_catalog_generator/metadata.yaml
  tests/features/ecr_catalog_generator/test-plan.md
  tests/features/ecr_catalog_generator/test-results.md
  tests/features/enum_consistency/metadata.yaml
  tests/features/governance_traceability/metadata.yaml
  tests/metadata.yaml
  tests/unit/QUICK_REFERENCE.md
Due: doc-metadata-autofix, emoji-enforcer

fix(makefile): forward ALLOW_REUSE_BUILD_ID to terraform in seamless deploy
  Makefile
Due: none

chore(metadata): inject missing frontmatter into scripts/record-build-timing.sh
  scripts/record-build-timing.sh
Due: none

fix(scripts): support dynamic environment paths in record-build-timing.sh
  scripts/record-build-timing.sh
Due: none

chore(governance): update script certification matrix
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
Due: doc-metadata-autofix, emoji-enforcer

fix: remove non-compliant emojis per emoji policy
  docs/changelog/entries/CL-0121-seamless-build-deployment.md
  docs/changelog/entries/CL-0125-seamless-build-stabilization.md
Due: doc-metadata-autofix, emoji-enforcer

fix: remove emojis from authoritative documents per policy
  docs/adrs/ADR-0148-seamless-build-deployment-with-immutability.md
  docs/analysis/BRIDGE_ANALYSIS.md
Due: doc-metadata-autofix, emoji-enforcer

chore: auto-fix emoji policy violations from pre-commit hooks
  docs/analysis/BUG_FIXES_SUMMARY.md
Due: doc-metadata-autofix, emoji-enforcer

fix: use approved emoji 🚫 instead of ❌ in script matrix
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  scripts/generate_script_matrix.py
Due: doc-metadata-autofix, emoji-enforcer

chore: fix trailing whitespace and EOF newlines
  .goldenpath/value_ledger.json
  bootstrap/40_platform-tooling/10_argocd_apps.sh
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve markdownlint violations
  docs/analysis/BRIDGE_ANALYSIS.md
  docs/changelog/entries/CL-0125-seamless-build-stabilization.md
Due: doc-metadata-autofix, emoji-enforcer

feat: add governance-registry fetch to CI workflows for build_id validation
  .github/workflows/ci-bootstrap.yml
  .github/workflows/infra-terraform-apply-dev.yml
  .github/workflows/infra-terraform-apply-prod.yml
  .github/workflows/infra-terraform-apply-staging.yml
  .github/workflows/infra-terraform-apply-test.yml
  docs/adrs/ADR-0155-ci-governance-registry-fetch.md
  docs/changelog/entries/CL-0126-ci-governance-registry-fetch.md
Due: doc-metadata-autofix, emoji-enforcer

feat: EKS end-to-end deployment milestone
  Makefile
  docs/00-foundations/37_V1_SCOPE_AND_TIMELINE.md
  docs/antig-walkthroughs/2026-01-14_2213_eks-end-to-end-milestone.md
  docs/changelog/entries/CL-0126-eks-end-to-end-milestone.md
  docs/production-readiness-gates/V1_04_CAPABILITY_MATRIX.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve metadata and emoji policy violations in milestone docs
  docs/antig-walkthroughs/2026-01-14_2213_eks-end-to-end-milestone.md
  docs/changelog/entries/CL-0126-eks-end-to-end-milestone.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve pre-commit violations in ADR-0155 and capability matrix
  docs/adrs/ADR-0155-ci-governance-registry-fetch.md
  docs/production-readiness-gates/V1_04_CAPABILITY_MATRIX.md
Due: doc-metadata-autofix, emoji-enforcer

fix: implement fail-closed behavior for build_id immutability guard
  docs/adrs/ADR-0155-ci-governance-registry-fetch.md
  envs/dev/main.tf
Due: doc-metadata-autofix, emoji-enforcer

fix: fetch governance-registry in PR terraform plan workflow
  .github/workflows/pr-terraform-plan.yml
Due: emoji-enforcer

feat: add auto-apply on merge and enhance PR plan metadata
  .github/workflows/infra-terraform-apply-dev.yml
  .github/workflows/infra-terraform.yml
  .github/workflows/pr-terraform-plan.yml
Due: emoji-enforcer

chore: deprecate redundant terraform workflows
  .github/workflows/deprecated/README.md
  .github/workflows/deprecated/infra-terraform-apply-dev-branch.yml.disabled
  .github/workflows/deprecated/infra-terraform-dev-pipeline.yml.disabled
  .github/workflows/deprecated/infra-terraform-update-dev.yml.disabled
Due: emoji-enforcer

chore: consolidate how-it-works docs into docs/85-how-it-works
  .github/workflows/ci-index-auto-heal.yml
  .github/workflows/create-ecr-registry.yml
  .github/workflows/pr-guardrails.yml
  .github/workflows/request-app-secret.yml
  .github/workflows/secret-request-apply.yml
  .github/workflows/secret-request-pr.yml
  .goldenpath/value_ledger.json
  ci-workflows/CI_WORKFLOWS.md
  dev_workflow.yml
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
  docs/85-how-it-works/README.md
  docs/85-how-it-works/ci-terraform/CI_TERRAFORM_WORKFLOWS.md
  docs/85-how-it-works/ci-terraform/SEAMLESS_BUILD_BOOTSTRAP_DEPLOYMENT.md
  docs/85-how-it-works/governance/BORN_GOVERNED_LIFECYCLE.md
  docs/85-how-it-works/governance/DOC_AUTO_HEALING.md
  docs/85-how-it-works/governance/GOVERNANCE_REGISTRY_MIRROR.md
  docs/85-how-it-works/governance/PR_GUARDRAILS.md
  docs/85-how-it-works/secrets-flow/SECRET_REQUEST_FLOW.md
  docs/85-how-it-works/self-service/ECR_REQUEST_FLOW.md
  docs/adrs/ADR-0095-self-service-registry-creation.md
  docs/adrs/ADR-0135-platform-secrets-manager-eso-foundation.md
  docs/adrs/ADR-0143-secret-request-contract.md
  docs/adrs/ADR-0144-intent-to-projection-parser.md
  docs/adrs/ADR-0145-governance-registry-mirror.md
  docs/adrs/ADR-0148-seamless-build-deployment-with-immutability.md
  docs/changelog/entries/CL-0121-seamless-build-deployment.md
  how-it-works/README.md
  how-it-works/metadata.yaml
  main_workflow.yml
  scripts/platform_health.py
  scripts/pr_guardrails.py
  scripts/scaffold_ecr.py
  tests/feature-tests/governance-registry-mirror/test-plan.md
Due: doc-metadata-autofix, emoji-enforcer

Build ID 15-01-26-01
  envs/dev/terraform.tfvars
Due: none

fix: add bootstrap step to apply workflow and fix EKS access ordering
  .github/workflows/infra-terraform-apply-dev.yml
Due: emoji-enforcer

docs: add changelog for CI workflow refactor (CL-0127)
  .goldenpath/value_ledger.json
  docs/changelog/entries/CL-0127-ci-workflow-refactor.md
Due: doc-metadata-autofix, emoji-enforcer

hotfix: add bootstrap to CI apply workflow
  .github/workflows/infra-terraform-apply-dev.yml
  .goldenpath/value_ledger.json
  docs/changelog/entries/CL-0127-ci-workflow-refactor.md
Due: doc-metadata-autofix, emoji-enforcer

Build ID 15-01-26-02
  envs/dev/terraform.tfvars
Due: none

Build ID 15-01-26-03
  envs/dev/terraform.tfvars
Due: none

fix: enable PR workflows for development branch + add teardown docs
  .github/workflows/pr-guardrails.yml
  .github/workflows/pr-terraform-plan.yml
  docs/85-how-it-works/ci-terraform/CI_TEARDOWN_WORKFLOW.md
Due: doc-metadata-autofix, emoji-enforcer

hotfix: enable PR workflows for development branch
  .github/workflows/pr-guardrails.yml
  .github/workflows/pr-terraform-plan.yml
  docs/85-how-it-works/ci-terraform/CI_TEARDOWN_WORKFLOW.md
Due: doc-metadata-autofix, emoji-enforcer

Path conditions:
  doc-metadata-autofix: any of: ^docs/.*\.md$
  emoji-enforcer: any of: \.(md|yaml|yml)$
