Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer, validate-script-governance

doc-metadata-autofix:
  name: Doc Metadata Auto-Fix
  entry: python3 scripts/standardize_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  stages:
  - pre-commit
  pass_filenames: true

emoji-enforcer:
  name: Emoji Usage Policy Enforcer
  entry: python3 scripts/enforce_emoji_policy.py
  language: python
  pass_filenames: true

validate-script-governance:
  name: Validate Script Governance
  entry: python3 scripts/validate_scripts_tested.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

ci(rag): add RAG index build and validation workflow
  .github/workflows/ci-rag-index.yml
Due: emoji-enforcer

docs: add EC-0018 Claude Skills and Neo4j runbook
  docs/70-operations/runbooks/RB-0038-neo4j-graph-rag-setup.md
  docs/70-operations/runbooks/README.md
  docs/extend-capabilities/EC-0018-claude-skills-integration.md
  docs/extend-capabilities/INDEX.md
Due: doc-metadata-autofix, emoji-enforcer

chore(rag): minor fixes to graph client and scope
  reports/index_metadata.json
  scripts/rag/graph_client.py
  scripts/rag/graph_ingest.py
  scripts/rag/index_build.py
  scripts/rag/scope.py
Due: validate-script-governance

docs: update session capture with Phase 1 TDD hardening
  session_capture/2026-01-28-agentic-graph-rag-phase0.md
Due: emoji-enforcer

docs: add session capture for backstage governance and OTel CI
  docs/changelog/entries/CL-0200-backstage-branch-protection-governance.md
  session_capture/2026-01-30-backstage-governance-and-otel-ci.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

docs(changelog): add CL-0201 for OpenTelemetry CI build tracing
  docs/changelog/entries/CL-0201-otel-cli-ci-build-tracing.md
Due: doc-metadata-autofix, emoji-enforcer

feat(rag): Phase 0 RAG implementation - answer contract and golden tests
  Rag_v1_ROADMAP.md
  docs/00-foundations/product/Rag_v1_ROADMAP.md
  docs/production-readiness-gates/ROADMAP.md
  requirements.txt
  schemas/metadata/answer_contract.schema.json
  tests/golden/fixtures/inputs/ANSWER-CONTRACT-invalid.json
  tests/golden/fixtures/inputs/ANSWER-CONTRACT-valid.json
  tests/golden/test_answer_contract_golden.py
Due: doc-metadata-autofix, emoji-enforcer

feat(rag): add MinIO for local RAG data persistence
  .gitignore
  docker-compose.minio.yml
  docs/adrs/ADR-0187-minio-rag-data-persistence.md
  scripts/rag-data-sync.sh
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

chore: pre-commit compliance fixes for PR to development
  .goldenpath/value_ledger.json
  ci-workflows/CI_WORKFLOWS.md
  docs/00-foundations/product/Rag_v1_ROADMAP.md
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  docs/20-contracts/prds/PRD-0008-phase0-retriever-spec.md
  docs/20-contracts/prds/PRD-0008-phase0-user-test-queries.md
  docs/20-contracts/prds/PRD-0009-integration-test-gap-closure.md
  docs/adrs/01_adr_index.md
  docs/adrs/ADR-0186-llamaindex-retrieval-layer.md
  docs/adrs/ADR-0187-minio-rag-data-persistence.md
  docs/changelog/entries/CL-0200-backstage-branch-protection-governance.md
  docs/extend-capabilities/EC-0018-claude-skills-integration.md
  docs/production-readiness-gates/ROADMAP.md
  reports/index_metadata.json
  reports/ragas_metrics.json
  scripts/index.md
  scripts/rag-data-sync.sh
  scripts/rag/chunker.py
  scripts/rag/cli.py
  scripts/rag/graph_client.py
  scripts/rag/graph_ingest.py
  scripts/rag/hybrid_retriever.py
  scripts/rag/index_build.py
  scripts/rag/index_metadata.py
  scripts/rag/indexer.py
  scripts/rag/llm_synthesis.py
  scripts/rag/loader.py
  scripts/rag/ragas_evaluate.py
  tests/integration/test_rag_pipeline.py
  tests/unit/test_chunker.py
  tests/unit/test_graph_ingest.py
  tests/unit/test_hybrid_retriever.py
  tests/unit/test_index_build.py
  tests/unit/test_indexer.py
  tests/unit/test_llm_synthesis.py
  tests/unit/test_ragas_evaluate.py
  tests/unit/test_retriever.py
  tests/unit/test_scope.py
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

fix(ci): add script traceability and SKIP-TDD markers
  .goldenpath/value_ledger.json
  docs/changelog/entries/CL-0202-phase0-rag-implementation.md
  scripts/rag-data-sync.sh
  scripts/rag/cli.py
  scripts/rag/graph_client.py
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

fix(ci): add RAG dependencies to requirements-dev.txt
  .goldenpath/value_ledger.json
  requirements-dev.txt
Due: none

fix(ci): add script traceability to ADR-0186
  .goldenpath/value_ledger.json
  docs/adrs/ADR-0186-llamaindex-retrieval-layer.md
Due: doc-metadata-autofix, emoji-enforcer

fix(docs): add required metadata fields to PRD files
  docs/20-contracts/prds/PRD-0008-phase0-retriever-spec.md
  docs/20-contracts/prds/PRD-0008-phase0-user-test-queries.md
  docs/20-contracts/prds/PRD-0009-integration-test-gap-closure.md
Due: doc-metadata-autofix, emoji-enforcer

fix(ci): run session-log check on all PRs
  .github/workflows/session-log-required.yml
Due: emoji-enforcer

docs(session): add session capture for workflow fix
  session_capture/2026-01-30-session-log-workflow-fix.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix(docs): add required metadata fields to PRD files (#319)
  .github/workflows/session-log-required.yml
  docs/20-contracts/prds/PRD-0008-phase0-retriever-spec.md
  docs/20-contracts/prds/PRD-0008-phase0-user-test-queries.md
  docs/20-contracts/prds/PRD-0009-integration-test-gap-closure.md
  session_capture/2026-01-30-session-log-workflow-fix.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

fix(governance): correct PRD-0009 ID and trailing whitespace
  docs/20-contracts/prds/PRD-0009-integration-test-gap-closure.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

fix(governance): correct PRD-0009 ID and trailing whitespace (#320)
  docs/20-contracts/prds/PRD-0009-integration-test-gap-closure.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

fix(ci): use lightweight deps for python-tests workflow
  .github/workflows/python-tests.yml
  requirements-ci.txt
  tests/unit/conftest.py
Due: emoji-enforcer

docs(session): add session capture for CI fix
  session_capture/2026-01-30-ci-lightweight-deps.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix(ci): auto-skip RAG golden tests when deps missing
  tests/golden/conftest.py
Due: none

fix(ci): use lightweight deps for python-tests workflow (#321)
  .github/workflows/python-tests.yml
  requirements-ci.txt
  session_capture/2026-01-30-ci-lightweight-deps.md
  session_summary/agent_session_summary.md
  tests/golden/conftest.py
  tests/unit/conftest.py
Due: emoji-enforcer

fix(tests): use importlib.util.find_spec for dependency detection
  tests/golden/conftest.py
  tests/unit/conftest.py
Due: none

fix(tests): use importlib.util.find_spec for dependency detection (#322)
  tests/golden/conftest.py
  tests/unit/conftest.py
Due: none

fix(ci): use lightweight deps for validation workflows
  .github/workflows/ci-eks-request-validation.yml
  .github/workflows/ci-metadata-validation.yml
  .github/workflows/ci-rds-request-validation.yml
  .github/workflows/ci-s3-request-validation.yml
Due: emoji-enforcer

docs: add session capture for validation workflow fix
  session_capture/2026-01-31-ci-validation-deps.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix(ci): use lightweight deps for validation workflows (#323)
  .github/workflows/ci-eks-request-validation.yml
  .github/workflows/ci-metadata-validation.yml
  .github/workflows/ci-rds-request-validation.yml
  .github/workflows/ci-s3-request-validation.yml
  session_capture/2026-01-31-ci-validation-deps.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

docs: add Phase 1 CI/CD implementation strategy and templates
  docs/production-readiness-gates/PHASE1_CICD_IMPLEMENTATION_STRATEGY.md
  docs/templates/workflows/delivery.yml
  session_capture/2026-01-19-build-and-release-workflow-implementation.md
Due: doc-metadata-autofix, emoji-enforcer

docs: consolidate CI/CD pipeline and deprecate ecr-build-push.sh
  docs/guides/standardized-image-delivery.md
  docs/production-readiness-gates/PHASE1_CICD_IMPLEMENTATION_STRATEGY.md
  scripts/ecr-build-push.sh
  session_capture/2026-02-01-phase1-cicd-consolidation.md
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

docs: mark Phase 1 CI/CD complete with evidence links
  docs/10-governance/policies/GOV-0014-devsecops-implementation-matrix.md
  session_capture/2026-02-01-phase1-cicd-consolidation.md
Due: doc-metadata-autofix, emoji-enforcer

feat: Phase 2 kickoff ADR and root folder cleanup
  Rag_v1_ROADMAP.md
  cluster-secret-store.yaml
  config/inventory-config.metadata.yaml
  config/inventory-config.yaml
  docker/docker-compose.minio.yml
  docs/adrs/ADR-0187-minio-rag-data-persistence.md
  docs/adrs/ADR-0188-phase2-github-app-authentication.md
  docs/changelog/entries/CL-0099-aws-inventory-platform-health.md
  docs/changelog/entries/CL-0202-phase0-rag-implementation.md
  docs/production-readiness-gates/ROADMAP.md
  scripts/aws_inventory.py
  session_capture/2026-02-01-phase1-cicd-consolidation.md
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

chore: remove temporary output files
  pr_body.txt
  pre_commit_output.txt
  pre_commit_output_2.txt
  pre_commit_output_3.txt
Due: none

chore: rename prompt templates from .txt to .md
  prompt-templates/PROMPT-0000-template.md
  prompt-templates/PROMPT-0001-prd-0004-backstage-repo-alignment.md
  prompt-templates/PROMPT-0002-pre-commit-pre-merge-checks.md
  prompt-templates/PROMPT-0003-recursive-pr-gate-compliance.md
  prompt-templates/PROMPT-0004-hotfix-permanent-fix-required.md
  prompt-templates/PROMPT-0005-tdd-governance-agent.md
Due: emoji-enforcer

feat: add YAML frontmatter to prompt templates
  prompt-templates/PROMPT-0000-template.md
  prompt-templates/PROMPT-0001-prd-0004-backstage-repo-alignment.md
  prompt-templates/PROMPT-0002-pre-commit-pre-merge-checks.md
  prompt-templates/PROMPT-0003-recursive-pr-gate-compliance.md
  prompt-templates/PROMPT-0004-hotfix-permanent-fix-required.md
  prompt-templates/PROMPT-0005-tdd-governance-agent.md
Due: emoji-enforcer

docs: update prompt templates README with index and frontmatter
  prompt-templates/README.md
Due: emoji-enforcer

Path conditions:
  doc-metadata-autofix: any of: ^docs/.*\.md$
  emoji-enforcer: any of: \.(md|yaml|yml)$
  validate-script-governance: any of: ^scripts/.*\.(py|sh|bash)$
