Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.91.0
    hooks:
      - id: terraform_fmt
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ["--config", ".github/linters/markdownlint.yml"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: ["--redact"]
  - repo: local
    hooks:
      - id: doc-metadata-autofix
        name: Doc Metadata Auto-Fix
        entry: python3 scripts/standardize_metadata.py
        language: python
        additional_dependencies:
          - pyyaml
        stages: [pre-commit]
        files: ^docs/.*\.md$
        pass_filenames: true
      - id: emoji-enforcer
        name: Emoji Usage Policy Enforcer
        entry: python3 scripts/enforce_emoji_policy.py
        language: python
        files: \.(md|yaml|yml)$
        pass_filenames: true
      - id: generate-adr-index
        name: Auto-Heal ADR Index
        entry: python3 scripts/generate_adr_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false
      - id: generate-script-index
        name: Auto-Heal Script Index
        entry: python3 scripts/generate_script_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false
      - id: generate-workflow-index
        name: Auto-Heal Workflow Index
        entry: python3 scripts/generate_workflow_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false

docs: add review feedback to scaffold golden paths session capture
  session_capture/2026-01-21-scaffold-golden-paths.md
Due: emoji-enforcer

fix: add ClusterSecretStore and sync-wave ordering for dev tooling
  bootstrap/50_smoke-tests/30_dev_baseline_checklist.md
  gitops/argocd/apps/dev/backstage.yaml
  gitops/argocd/apps/dev/cluster-secret-store.yaml
  gitops/argocd/apps/dev/external-secrets.yaml
  gitops/argocd/apps/dev/keycloak.yaml
  gitops/argocd/apps/dev/kong.yaml
  gitops/helm/kube-prometheus-stack/values/dev.yaml
Due: emoji-enforcer

docs: restructure tooling matrix into tiered component categories
  docs/70-operations/20_TOOLING_APPS_MATRIX.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add session capture for tooling resolution work
  session_capture/2026-01-21-tooling-resolution.md
Due: emoji-enforcer

fix: correct image registry/repository format for kube-prometheus-stack
  gitops/helm/kube-prometheus-stack/values/dev.yaml
Due: emoji-enforcer

fix: apply same image registry/repository fix to local values
  gitops/helm/kube-prometheus-stack/values/local.yaml
Due: emoji-enforcer

docs: update session capture with prometheus-operator fix and dashboard
  QUICK_REFERENCE.md
  session_capture/2026-01-21-tooling-resolution.md
Due: emoji-enforcer

docs: add session summary entry for tooling resolution work
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix: Remediate review feedback (Stateless Overlays, Stateful Probes, Test Env)
  backstage-helm/backstage-catalog/templates/stateful-app/skeleton/deploy/base/statefulset.yaml
  schemas/requests/backend-app-rds.schema.yaml
  schemas/requests/stateful-app.schema.yaml
  schemas/requests/stateless-app.schema.yaml
  session_capture/2026-01-21-scaffold-golden-paths.md
Due: emoji-enforcer

docs: add session summary for Golden Path templates completion
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix: resolve PR gate failures (yamllint, frontmatter, trailing whitespace)
  backstage-helm/backstage-catalog/templates/backend-app-rds/skeleton/app.py
  backstage-helm/backstage-catalog/templates/backend-app-rds/template.yaml
  backstage-helm/backstage-catalog/templates/stateful-app/skeleton/app.py
  backstage-helm/backstage-catalog/templates/stateful-app/skeleton/deploy/base/service-headless.yaml
  backstage-helm/backstage-catalog/templates/stateful-app/skeleton/deploy/base/statefulset.yaml
  docs/85-how-it-works/self-service/BACKEND_APP_RDS_REQUEST_FLOW.md
  docs/85-how-it-works/self-service/GOLDEN_PATH_OVERVIEW.md
  docs/85-how-it-works/self-service/STATEFUL_APP_REQUEST_FLOW.md
  docs/85-how-it-works/self-service/STATELESS_APP_REQUEST_FLOW.md
  gitops/helm/kube-prometheus-stack/values/dev.yaml
  schemas/requests/backend-app-rds.schema.yaml
  schemas/requests/stateful-app.schema.yaml
  schemas/requests/stateless-app.schema.yaml
  session_capture/2026-01-21-scaffold-golden-paths.md
Due: doc-metadata-autofix, emoji-enforcer

fix: restore closing quotes in schema pattern fields
  schemas/requests/stateless-app.schema.yaml
Due: emoji-enforcer

fix: resolve remaining pre-commit failures
  docs/extend-capabilities/EC-0012-backstage-plugin-scaffold.md
  schemas/requests/stateful-app.schema.yaml
  schemas/requests/stateless-app.schema.yaml
  session_capture/2026-01-21-scaffold-golden-paths.md
  session_capture/2026-01-21-tooling-resolution.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve governance and pre-commit failures
  docs/70-operations/20_TOOLING_APPS_MATRIX.md
  docs/85-how-it-works/self-service/BACKEND_APP_RDS_REQUEST_FLOW.md
  docs/85-how-it-works/self-service/GOLDEN_PATH_OVERVIEW.md
  docs/85-how-it-works/self-service/STATEFUL_APP_REQUEST_FLOW.md
  docs/85-how-it-works/self-service/STATELESS_APP_REQUEST_FLOW.md
  docs/extend-capabilities/EC-0012-backstage-plugin-scaffold.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve final pre-commit and governance failures
  QUICK_REFERENCE.md
  docs/extend-capabilities/EC-0005-k8s-extensibility-strategy.md
Due: doc-metadata-autofix, emoji-enforcer

fix: add rds_request_parser.py to changelog traceability
  docs/changelog/entries/CL-0162-golden-path-templates.md
Due: doc-metadata-autofix, emoji-enforcer

fix: remove non-compliant emojis for pre-commit policy
  docs/changelog/entries/CL-0162-golden-path-templates.md
  session_capture/2026-01-21-scaffold-golden-paths.md
Due: doc-metadata-autofix, emoji-enforcer

fix: use official Backstage image temporarily
  gitops/helm/backstage/values/dev.yaml
Due: emoji-enforcer

fix: correct RDS hostname for Backstage
  gitops/helm/backstage/values/dev.yaml
Due: emoji-enforcer

fix: use Platformers community Backstage image
  gitops/helm/backstage/values/dev.yaml
Due: emoji-enforcer

fix: revert to official Backstage image
  gitops/helm/backstage/values/dev.yaml
Due: emoji-enforcer

docs: add Backstage/RDS/Cert troubleshooting to session capture
  session_capture/2026-01-21-scaffold-golden-paths.md
Due: emoji-enforcer

docs: add PRD-0004 Backstage repo alignment and prompt templates
  Makefile
  docs/20-contracts/prds/00_INDEX.md
  docs/20-contracts/prds/PRD-0004-backstage-repo-structure-alignment.md
  docs/20-contracts/prds/README.md
  docs/70-operations/runbooks/RB-0030-rds-break-glass-deletion.md
  docs/production-readiness-gates/ROADMAP.md
  prompt-templates/PROMPT-0000-template.txt
  prompt-templates/PROMPT-0001-prd-0004-backstage-repo-alignment.txt
  prompt-templates/README.md
  session_capture/2026-01-22-backstage-repo-structure-and-rds-path-alignment.md
Due: doc-metadata-autofix, emoji-enforcer

docs: update session capture with Docker local dev validation
  session_capture/2026-01-22-backstage-repo-structure-and-rds-path-alignment.md
Due: emoji-enforcer

docs: add PRD-0005 TechDocs implementation path
  docs/20-contracts/prds/PRD-0005-techdocs-implementation.md
Due: doc-metadata-autofix, emoji-enforcer

feat: configure custom Backstage ECR image with Golden Path branding
  backstage-helm/charts/backstage/values.yaml
  backstage-helm/img/goldenpath-idp-icon-convergent.svg
  backstage-helm/img/goldenpath-idp-icon.svg
  backstage-helm/img/goldenpath-idp-lockup.svg
  backstage-helm/img/goldenpath-idp-logo-dark-transparent.svg
  backstage-helm/img/goldenpath-idp-logo-dark.svg
  backstage-helm/img/goldenpath-idp-logo-light-transparent.svg
  backstage-helm/img/goldenpath-idp-logo-light.svg
  backstage-helm/img/goldenpath-idp-wordmark.svg
Due: emoji-enforcer

feat: add session memory architecture for AI agent context management
  Makefile
  docs/00-foundations/product/CAPABILITY_LEDGER.md
  docs/00-foundations/product/FEATURES.md
  docs/10-governance/07_AI_AGENT_GOVERNANCE.md
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  docs/adrs/01_adr_index.md
  docs/adrs/ADR-0176-session-memory-management.md
  scripts/archive_sessions.py
  scripts/index.md
  session_capture/session_capture_template.md
Due: doc-metadata-autofix, emoji-enforcer

docs: update session capture with Backstage image build and branding
  .goldenpath/value_ledger.json
  session_capture/2026-01-22-backstage-repo-structure-and-rds-path-alignment.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

docs: add timestamped update to scaffold golden paths session capture
  session_capture/2026-01-21-scaffold-golden-paths.md
Due: emoji-enforcer

docs: add changelog entry and fix markdown list style
  docs/changelog/entries/CL-0163-backstage-ecr-branding-session-memory.md
  session_capture/2026-01-21-scaffold-golden-paths.md
Due: doc-metadata-autofix, emoji-enforcer

feat: add ArgoCD and Kubernetes annotations to scaffold templates
  backstage-helm/backstage-catalog/templates/backend-app-rds/skeleton/catalog-info.yaml
  backstage-helm/backstage-catalog/templates/stateful-app/skeleton/catalog-info.yaml
  backstage-helm/backstage-catalog/templates/stateless-app/skeleton/catalog-info.yaml
  docs/changelog/entries/CL-0164-argocd-backstage-plugin.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add ArgoCD plugin integration session capture
  session_capture/2026-01-22-argocd-plugin-integration.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

docs: add pre-commit and pre-merge checklist
  docs/80-onboarding/PRE_COMMIT_CHECKLIST.md
  scripts/show_pre_commit_checks.sh
Due: doc-metadata-autofix, emoji-enforcer

docs: add pre-commit checks prompt template
  .goldenpath/value_ledger.json
  docs/80-onboarding/PRE_COMMIT_CHECKLIST.md
  prompt-templates/PROMPT-0002-pre-commit-pre-merge-checks.txt
  scripts/show_pre_commit_checks.sh
Due: doc-metadata-autofix, emoji-enforcer

docs: add recursive PR gate compliance prompt
  prompt-templates/PROMPT-0003-recursive-pr-gate-compliance.txt
Due: none

chore: run healing scripts to standardize metadata
  docs/10-governance/policies/metadata.yaml
  docs/70-operations/runbooks/metadata.yaml
  docs/85-how-it-works/self-service/BACKEND_APP_RDS_REQUEST_FLOW.md
  docs/85-how-it-works/self-service/GOLDEN_PATH_OVERVIEW.md
  docs/85-how-it-works/self-service/STATEFUL_APP_REQUEST_FLOW.md
  docs/85-how-it-works/self-service/STATELESS_APP_REQUEST_FLOW.md
  docs/adrs/metadata.yaml
  docs/extend-capabilities/EC-0005-k8s-extensibility-strategy.md
Due: doc-metadata-autofix, emoji-enforcer

chore: update value ledger from healing scripts
  .goldenpath/value_ledger.json
Due: none

fix: wrap bare URL in session capture for markdownlint
  session_capture/2026-01-22-argocd-plugin-integration.md
Due: emoji-enforcer
