Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

doc-metadata-autofix:
  name: Doc Metadata Auto-Fix
  entry: python3 scripts/standardize_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  stages:
  - pre-commit
  pass_filenames: true

emoji-enforcer:
  name: Emoji Usage Policy Enforcer
  entry: python3 scripts/enforce_emoji_policy.py
  language: python
  pass_filenames: true

docs: update ADR index and how-it-works README
  docs/85-how-it-works/README.md
  docs/adrs/01_adr_index.md
Due: doc-metadata-autofix, emoji-enforcer

docs: update session capture template
  session_capture/session_capture_template.md
Due: emoji-enforcer

feat: add RDS provisioning step to terraform apply workflows
  .github/workflows/infra-terraform-apply-dev.yml
  .github/workflows/infra-terraform-apply-prod.yml
  .github/workflows/infra-terraform-apply-staging.yml
Due: emoji-enforcer

docs: update governance and onboarding docs
  .github/workflows/session-capture-guard.yml
  docs/10-governance/07_AI_AGENT_GOVERNANCE.md
  docs/20-contracts/prds/PRD-0001-rds-user-db-provisioning.md
  docs/30-onboarding/OB-0001-developer-security-tooling.md
  docs/80-onboarding/26_AI_AGENT_PROTOCOLS.md
Due: doc-metadata-autofix, emoji-enforcer

fix: correct dev advisory condition and add testing matrix proposal
  .github/workflows/_promote.yml
  docs/10-governance/policies/GOV-0015-build-pipeline-testing-matrix.md
  docs/85-how-it-works/ci-terraform/APP_BUILD_PIPELINE.md
  session_capture/2026-01-19-build-pipeline-architecture.md
Due: doc-metadata-autofix, emoji-enforcer

docs: enhance RB-0036 with comprehensive breakglass procedure
  docs/70-operations/runbooks/RB-0036-github-app-image-updater.md
Due: doc-metadata-autofix, emoji-enforcer

feat: enforce secret requirements and add session log guardrail
  .github/workflows/session-log-required.yml
  docs/10-governance/PR_GUARDRAILS_INDEX.md
  docs/10-governance/policies/GOV-0012-build-pipeline-standards.md
  docs/10-governance/policies/GOV-0013-devsecops-security-standards.md
  docs/10-governance/policies/GOV-0014-devsecops-implementation-matrix.md
  docs/70-operations/runbooks/RB-0037-pipeline-enablement.md
  docs/85-how-it-works/ci-terraform/APP_BUILD_PIPELINE.md
  docs/changelog/entries/CL-0150-session-log-requirement-guardrail.md
  gitops/helm/argocd-image-updater/values/prod.yaml
  gitops/helm/argocd-image-updater/values/staging.yaml
  gitops/helm/argocd-image-updater/values/test.yaml
  session_capture/2026-01-19-build-pipeline-architecture.md
Due: doc-metadata-autofix, emoji-enforcer

feat: add security scan enforcement to roadmap and improve deploy workflow
  .github/workflows/_build-and-release.yml
  .github/workflows/_deploy.yml
  docs/production-readiness-gates/ROADMAP.md
Due: doc-metadata-autofix, emoji-enforcer

feat: add security scanning enforcement items to roadmap
  docs/production-readiness-gates/ROADMAP.md
Due: doc-metadata-autofix, emoji-enforcer

docs: append session capture for security enforcement roadmap
  session_capture/2026-01-19-build-pipeline-architecture.md
Due: emoji-enforcer

docs: add session summary for security enforcement roadmap
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix: correct metadata ID to match filename for governance docs
  docs/10-governance/policies/GOV-0012-build-pipeline-standards.md
  docs/10-governance/policies/GOV-0013-devsecops-security-standards.md
  docs/10-governance/policies/GOV-0014-devsecops-implementation-matrix.md
  docs/10-governance/policies/GOV-0015-build-pipeline-testing-matrix.md
  docs/30-onboarding/OB-0001-developer-security-tooling.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve pre-commit lint issues for PR #261
  docs/adrs/ADR-0174-pipeline-decoupling-from-cluster-bootstrap.md
  session_capture/2026-01-19-build-pipeline-architecture.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

feat: add optional commit_sha input to promote workflow
  templates/app-repo/.github/workflows/promote.yml
Due: emoji-enforcer

fix: correct value ledger time estimates and document VQ metadata issues
  .goldenpath/value_ledger.json
  session_capture/2026-01-20-vq-metadata-cleanup.md
Due: emoji-enforcer

docs: append VQ cleanup feedback from Antigravity Agent
  session_capture/2026-01-20-vq-metadata-cleanup.md
Due: emoji-enforcer

docs: append final verdict to VQ metadata cleanup session capture
  session_capture/2026-01-20-vq-metadata-cleanup.md
Due: emoji-enforcer

docs: answer Codex questions and approve VQ implementation
  session_capture/2026-01-20-vq-metadata-cleanup.md
Due: emoji-enforcer

feat: implement directory-level VQ defaults with non-overwriting standardizer
  .github/workflows/README.md
  docs/00-foundations/product/VQ_PRINCIPLES.MD
  docs/10-governance/EMOJI_POLICY.md
  docs/10-governance/policies/metadata.yaml
  docs/70-operations/20_TOOLING_APPS_MATRIX.md
  docs/70-operations/45_DNS_MANAGEMENT.md
  docs/70-operations/README.md
  docs/70-operations/runbooks/metadata.yaml
  docs/adrs/ADR-0155-ci-governance-registry-fetch.md
  docs/adrs/ADR-0156-platform-ci-build-timing-capture.md
  docs/adrs/ADR-0171-platform-application-packaging-strategy.md
  docs/adrs/ADR-0172-cd-promotion-strategy-with-approval-gates.md
  docs/adrs/ADR-0173-governance-doc-naming-migration.md
  docs/adrs/metadata.yaml
  docs/changelog/entries/CL-0126-ci-governance-registry-fetch.md
  docs/changelog/entries/CL-0128-ci-build-timing-capture.md
  docs/changelog/entries/CL-0129-backstage-catalog-registry-sync.md
  docs/changelog/entries/CL-0140-rds-user-db-provisioning.md
  docs/metadata.yaml
  schemas/metadata/adr.schema.yaml
  schemas/metadata/documentation.schema.yaml
  scripts/metadata.yaml
  scripts/scaffold_test.py
  scripts/standardize_metadata.py
  session_capture/2026-01-20-vq-metadata-cleanup.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add EC-0008, EC-0009, EC-0010 extend capabilities
  docs/extend-capabilities/EC-0008-session-capture-ui.md
  docs/extend-capabilities/EC-0009-goldenpath-cli.md
  docs/extend-capabilities/EC-0010-agent-pairing-mode.md
Due: doc-metadata-autofix, emoji-enforcer

fix: correct indentation in scaffold_test.py template
  scripts/scaffold_test.py
Due: none

docs: revise EC-0003 ROI analysis from $8K to $110K/year
  docs/extend-capabilities/EC-0003-kong-backstage-plugin.md
Due: doc-metadata-autofix, emoji-enforcer

fix: markdown lint issues in session capture file
  session_capture/2026-01-20-vq-metadata-cleanup.md
Due: emoji-enforcer

chore: add 'none' to risk_profile_coupling_risk enum
  schemas/metadata/enums.yaml
Due: emoji-enforcer

fix: allow build_id="persistent" for persistent cluster deployments
  Makefile
  QUICK_REFERENCE.md
  docs/changelog/entries/CL-0151-persistent-teardown-v4-safety-defaults.md
  envs/dev/terraform.tfvars
  envs/dev/variables.tf
  session_capture/2026-01-20-persistent-cluster-deployment.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

feat: standalone RDS state + persistent deploy automation
  .github/workflows/ci-teardown.yml
  Makefile
  QUICK_REFERENCE.md
  backstage-helm/backstage-catalog/docs/changelogs/changelog-0151.yaml
  backstage-helm/backstage-catalog/docs/changelogs/changelog-0152.yaml
  backstage-helm/backstage-catalog/docs/changelogs/changelog-0153.yaml
  backstage-helm/backstage-catalog/docs/changelogs/changelog-0154.yaml
  backstage-helm/backstage-catalog/docs/changelogs/changelog-0155.yaml
  bootstrap/60_tear_down_clean_up/goldenpath-idp-teardown-v4.sh
  docs/70-operations/runbooks/RB-0033-persistent-cluster-teardown.md
  docs/70-operations/runbooks/RB-0034-persistent-cluster-deployment.md
  docs/changelog/entries/CL-0152-ephemeral-secrets-bounded-context.md
  docs/changelog/entries/CL-0153-standalone-rds-state.md
  docs/changelog/entries/CL-0154-persistent-deploy-rds-automation.md
  docs/changelog/entries/CL-0155-rds-secret-restore-preflight.md
  docs/production-readiness-gates/IMPLEMENTATION_SEQUENCE.md
  envs/dev-rds/terraform.tfvars
  envs/dev/main.tf
  envs/dev/terraform.tfvars
  modules/aws_iam/README.md
  modules/aws_iam/main.tf
  modules/aws_iam/outputs.tf
  modules/aws_iam/variables.tf
  modules/aws_rds/secrets.tf
  modules/aws_rds/variables.tf
  session_capture/2026-01-20-persistent-cluster-deployment.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

docs: append RDS cleanup feedback from Antigravity Agent
  session_capture/2026-01-20-persistent-cluster-deployment.md
Due: emoji-enforcer

feat: break-glass RDS destroy + awk syntax fix
  .github/workflows/README.md
  .github/workflows/rds-prevent-destroy-guard.yml
  Makefile
  QUICK_REFERENCE.md
  backstage-helm/backstage-catalog/docs/changelogs/changelog-0156.yaml
  backstage-helm/backstage-catalog/docs/changelogs/changelog-0157.yaml
  docs/00-foundations/product/CAPABILITY_LEDGER.md
  docs/70-operations/30_PLATFORM_RDS_ARCHITECTURE.md
  docs/70-operations/runbooks/RB-0030-rds-break-glass-deletion.md
  docs/70-operations/runbooks/RB-0033-persistent-cluster-teardown.md
  docs/70-operations/runbooks/RB-0034-persistent-cluster-deployment.md
  docs/adrs/ADR-0158-platform-standalone-rds-bounded-context.md
  docs/changelog/entries/CL-0153-standalone-rds-state.md
  docs/changelog/entries/CL-0155-rds-secret-restore-preflight.md
  docs/changelog/entries/CL-0156-rds-allow-delete-target.md
  docs/changelog/entries/CL-0157-rds-break-glass-destroy.md
  docs/extend-capabilities/EC-0011-break-glass-rds-destroy.md
  envs/dev-rds/terraform.tfvars
  scripts/rds_secrets_preflight.sh
  session_capture/2026-01-20-persistent-cluster-deployment.md
Due: doc-metadata-autofix, emoji-enforcer

feat: add Route53 DNS management and ExternalDNS integration
  backstage-helm/backstage-catalog/docs/changelogs/changelog-0159.yaml
  docs/70-operations/20_TOOLING_APPS_MATRIX.md
  docs/adrs/ADR-0170-route53-terraform-module.md
  docs/adrs/ADR-0175-externaldns-wildcard-ownership.md
  docs/changelog/entries/CL-0158-route53-terraform-integration.md
  docs/changelog/entries/CL-0159-externaldns-wildcard-ownership.md
  docs/session_capture/2026-01-21-route53-dns-terraform.md
  envs/dev/main.tf
  envs/dev/outputs.tf
  envs/dev/terraform.tfvars
  envs/dev/variables.tf
  envs/prod/main.tf
  envs/prod/variables.tf
  envs/staging/main.tf
  envs/staging/variables.tf
  envs/test/main.tf
  envs/test/variables.tf
  gitops/argocd/CHART_VERSIONS.md
  gitops/argocd/apps/dev/external-dns.yaml
  gitops/argocd/apps/prod/external-dns.yaml
  gitops/argocd/apps/staging/external-dns.yaml
  gitops/argocd/apps/test/external-dns.yaml
  gitops/helm/external-dns/README.md
  gitops/helm/external-dns/metadata.yaml
  gitops/helm/external-dns/values/dev.yaml
  gitops/helm/external-dns/values/prod.yaml
  gitops/helm/external-dns/values/staging.yaml
  gitops/helm/external-dns/values/test.yaml
  gitops/helm/kong/values/dev.yaml
  gitops/helm/kong/values/prod.yaml
  gitops/helm/kong/values/staging.yaml
  gitops/helm/kong/values/test.yaml
  modules/aws_iam/main.tf
  modules/aws_iam/outputs.tf
  modules/aws_iam/variables.tf
  modules/aws_route53/main.tf
  modules/aws_route53/outputs.tf
  modules/aws_route53/variables.tf
Due: doc-metadata-autofix, emoji-enforcer

fix: add AWS region env and zone-type for ExternalDNS
  gitops/argocd/apps/dev/external-dns.yaml
  gitops/argocd/apps/dev/kong.yaml
  gitops/helm/external-dns/values/dev.yaml
Due: emoji-enforcer

fix: use parent domain goldenpathidp.io for ExternalDNS zone matching
  gitops/helm/external-dns/values/dev.yaml
Due: emoji-enforcer

chore: linter fixes for teardown v5 documentation updates
  Makefile
  QUICK_REFERENCE.md
  bootstrap/60_tear_down_clean_up/README.md
  docs/40-delivery/17_BUILD_RUN_FLAGS.md
  docs/70-operations/15_TEARDOWN_AND_CLEANUP.md
  docs/70-operations/runbooks/RB-0004-lb-finalizer-stuck.md
Due: doc-metadata-autofix, emoji-enforcer

fix: terraform fmt + script metadata header for CI gates
  envs/dev/main.tf
  envs/dev/variables.tf
  modules/aws_route53/outputs.tf
  scripts/rds_secrets_preflight.sh
Due: none

chore: regenerate script certification matrix with SCRIPT-0052
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
Due: doc-metadata-autofix, emoji-enforcer

fix: correct session capture ID to match filename
  docs/session_capture/2026-01-21-route53-dns-terraform.md
Due: doc-metadata-autofix, emoji-enforcer

Path conditions:
  doc-metadata-autofix: any of: ^docs/.*\.md$
  emoji-enforcer: any of: \.(md|yaml|yml)$
