Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

doc-metadata-autofix:
  name: Doc Metadata Auto-Fix
  entry: python3 scripts/standardize_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  stages:
  - pre-commit
  pass_filenames: true

emoji-enforcer:
  name: Emoji Usage Policy Enforcer
  entry: python3 scripts/enforce_emoji_policy.py
  language: python
  pass_filenames: true

feat: governance metrics upgrades and observability fixes
  .github/workflows/script-certification-gate.yml
  .goldenpath/value_ledger.json
  Makefile
  PLATFORM_HEALTH.md
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
  docs/changelog/entries/CL-0184-fix-duplicate-script-ids.md
  docs/changelog/entries/CL-0185-maturity-snapshots-value-ledger.md
  docs/changelog/entries/CL-0186-certification-tracking-ci.md
  docs/changelog/entries/CL-0187-rds-deploy-timing-capture.md
  docs/changelog/entries/CL-0188-platform-health-build-timing.md
  docs/extend-capabilities/EC-0013-agent-context-architecture.md
  gitops/helm/kube-prometheus-stack/values/dev.yaml
  gitops/helm/kube-prometheus-stack/values/prod.yaml
  gitops/helm/kube-prometheus-stack/values/staging.yaml
  gitops/helm/kube-prometheus-stack/values/test.yaml
  scripts/generate_script_matrix.py
  scripts/inject_script_metadata.py
  scripts/platform_health.py
  scripts/sync_backstage_entities.py
  scripts/sync_ecr_catalog.py
  scripts/test_hotfix.py
  session_capture/2026-01-25-governance-metrics-upgrades.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

fix: address pre-commit hook failures
  .goldenpath/value_ledger.json
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
Due: doc-metadata-autofix, emoji-enforcer

fix: only write maturity snapshot when distribution changes
  scripts/generate_script_matrix.py
Due: none

fix: add missing owner to session capture
  session_capture/2026-01-21-route53-dns-terraform.md
Due: emoji-enforcer

chore: regenerate platform health report
  PLATFORM_HEALTH.md
Due: emoji-enforcer

docs: add session capture for agent architecture
  session_capture/2026-01-25-agent-guard-architecture.md
Due: emoji-enforcer

feat: add development branch protection and agent merge guard
  .github/workflows/agent-merge-guard.yml
  docs/changelog/entries/CL-0189-development-branch-protection.md
Due: doc-metadata-autofix, emoji-enforcer

feat: implement TDD foundation for platform testing
  .github/workflows/tdd-gate.yml
  .pre-commit-config.yaml
  docs/10-governance/policies/GOV-0016-testing-stack-matrix.md
  docs/adrs/ADR-0182-tdd-philosophy.md
  tests/bats/helpers/common.bash
  tests/bats/test_example.bats
  tests/conftest.py
Due: doc-metadata-autofix, emoji-enforcer

chore: regenerate platform health report
  PLATFORM_HEALTH.md
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add EC-0014 Agent Scope Registry
  docs/extend-capabilities/EC-0014-agent-scope-registry.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add session capture for TDD foundation implementation
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
Due: emoji-enforcer

feat: add determinism guard workflow and Makefile test targets
  .github/workflows/determinism-guard.yml
  Makefile
Due: emoji-enforcer

docs: update session capture with determinism guard
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
Due: emoji-enforcer

docs: add testing quickstart and update onboarding docs with TDD
  docs/80-onboarding/24_PR_GATES.md
  docs/80-onboarding/25_DAY_ONE_CHECKLIST.md
  docs/80-onboarding/26_AI_AGENT_PROTOCOLS.md
  docs/80-onboarding/27_TESTING_QUICKSTART.md
  docs/80-onboarding/AGENT_FIRST_BOOT.md
Due: doc-metadata-autofix, emoji-enforcer

docs: update session capture with onboarding docs
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
Due: emoji-enforcer

fix: update stale test assertions and add TDD changelog
  docs/changelog/entries/CL-0190-tdd-foundation-and-testing-stack.md
  tests/scripts/test_script_0035.py
Due: doc-metadata-autofix, emoji-enforcer

docs: update session capture with final commits
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
Due: emoji-enforcer

feat(tests): add golden, contract, and integration test infrastructure
  tests/contract/README.md
  tests/contract/fixtures/requests/invalid/SECRET-INVALID-missing-required.yaml
  tests/contract/fixtures/requests/valid/SECRET-0001-basic.yaml
  tests/contract/test_secret_request_contract.py
  tests/golden/README.md
  tests/golden/conftest.py
  tests/golden/fixtures/expected/SECRET-0001-parsed.json
  tests/golden/fixtures/inputs/SECRET-0001.yaml
  tests/golden/test_parser_golden.py
  tests/integration/README.md
  tests/unit/test_script_imports.py
Due: emoji-enforcer

feat(ci): add coverage enforcement at 50% threshold
  .github/workflows/python-tests.yml
  docs/changelog/entries/CL-0191-coverage-enforcement-and-tdd-parity.md
Due: doc-metadata-autofix, emoji-enforcer

feat(scripts): add test proof generation for script certification
  docs/changelog/entries/CL-0187-test-proof-generation.md
  pytest.ini
  scripts/__init__.py
  scripts/generate_test_proofs.py
  scripts/lib/__init__.py
Due: doc-metadata-autofix, emoji-enforcer

docs(governance): add TDD philosophy and determinism protection policies
  .github/workflows/test-integrity-guard.yml
  docs/10-governance/policies/GOV-0017-tdd-and-determinism.md
  docs/adrs/ADR-0162-determinism-protection.md
  docs/adrs/ADR-0164-agent-trust-and-identity.md
Due: doc-metadata-autofix, emoji-enforcer

docs(extend): add TDD parity plan and bespoke schema validator proposals
  docs/extend-capabilities/EC-0015-backstage-tdd-parity-plan.md
  docs/extend-capabilities/EC-0016-bespoke-schema-validator.md
Due: doc-metadata-autofix, emoji-enforcer

docs(session): add TDD quality gate session capture and governance prompt
  prompt-templates/PROMPT-0005-tdd-governance-agent.txt
  session_capture/2026-01-26-session-capture-tdd-quality-gate.md
Due: emoji-enforcer

chore: update Makefile, dependencies, and CODEOWNERS for TDD
  .github/CODEOWNERS
  Makefile
  requirements-dev.txt
Due: none

docs: update governance, onboarding, and indexes for TDD foundation
  docs/10-governance/policies/GOV-0016-testing-stack-matrix.md
  docs/80-onboarding/26_AI_AGENT_PROTOCOLS.md
  docs/80-onboarding/27_TESTING_QUICKSTART.md
  docs/adrs/01_adr_index.md
  docs/changelog/entries/CL-0190-tdd-foundation-and-testing-stack.md
  prompt-templates/README.md
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
Due: doc-metadata-autofix, emoji-enforcer

chore: update gitignore to exclude test artifacts
  .gitignore
  test-results/proofs/proof-standardize_metadata.json
  tests/scripts/__pycache__/test_script_0034.cpython-311-pytest-8.3.2.pyc
  tests/unit/__pycache__/test_inject_script_metadata.cpython-311-pytest-8.3.2.pyc
  tests/unit/__pycache__/test_metadata_inheritance.cpython-311-pytest-8.3.2.pyc
  tests/unit/__pycache__/test_metadata_inheritance.cpython-311.pyc
  tests/unit/__pycache__/test_secret_request_parser.cpython-311-pytest-8.3.2.pyc
  tests/unit/__pycache__/test_secret_request_parser.cpython-311.pyc
  tests/unit/__pycache__/test_standardize_metadata.cpython-311-pytest-8.3.2.pyc
  tests/unit/__pycache__/test_validate_metadata.cpython-311-pytest-8.3.2.pyc
  tests/unit/__pycache__/test_validate_metadata.cpython-311.pyc
  tests/unit/__pycache__/test_vq_logger.cpython-311-pytest-8.3.2.pyc
  tests/unit/__pycache__/test_vq_logger.cpython-311.pyc
Due: none

docs: add TDD infrastructure to FEATURES and CAPABILITY_LEDGER
  docs/00-foundations/product/CAPABILITY_LEDGER.md
  docs/00-foundations/product/FEATURES.md
Due: doc-metadata-autofix, emoji-enforcer

feat: add Phase 1 TDD test suite and fix Codex review findings
  .github/workflows/bats-tests.yml
  Makefile
  session_capture/2026-01-26-session-capture-tdd-quality-gate.md
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  tests/bats/test_check_tools.bats
  tests/bats/test_deploy_backstage.bats
  tests/bats/test_ecr_build_push.bats
  tests/golden/conftest.py
  tests/scripts/test_script_0039.py
  tests/scripts/test_script_0043.py
Due: emoji-enforcer

feat: implement bespoke schema validator and enforce coverage thresholds
  .github/workflows/python-tests.yml
  Makefile
  scripts/validate_request.py
  tests/golden/fixtures/inputs/S3-0001.yaml
  tests/scripts/test_validate_request.py
Due: emoji-enforcer

docs: add changelogs for TDD Phase 1+2 completion
  docs/changelog/entries/CL-0192-phase1-tdd-test-suite-completion.md
  docs/changelog/entries/CL-0193-ec0016-bespoke-schema-validator.md
  docs/changelog/entries/CL-0194-coverage-threshold-enforcement.md
  docs/changelog/entries/CL-0195-codex-review-fixes.md
Due: doc-metadata-autofix, emoji-enforcer

feat(rds): add K8s-based provisioning for private RDS instances
  Makefile
  scripts/rds_provision.py
  scripts/rds_provision_k8s.sh
  tests/bats/test_rds_provision_k8s.bats
  tests/unit/test_rds_provision_preflight.py
Due: none

docs: add PRD-0007 Platform Test Health Dashboard and session captures
  docs/20-contracts/prds/00_INDEX.md
  docs/20-contracts/prds/PRD-0007-platform-test-health-dashboard.md
  docs/20-contracts/prds/README.md
  session_capture/2026-01-26-session-capture-bootstrap-rca-tdd-prd.md
  session_capture/2026-01-26-session-capture-rds-k8s-provisioning-fix.md
Due: doc-metadata-autofix, emoji-enforcer

fix: add missing slash in backstage deployment image URL
  backstage-helm/charts/backstage/templates/deployment.yaml
Due: emoji-enforcer

feat: add terraform tests for all modules (52 tests)
  modules/aws_ecr/tests/ecr.tftest.hcl
  modules/aws_eks/tests/eks.tftest.hcl
  modules/aws_rds/tests/rds.tftest.hcl
  modules/vpc/tests/vpc.tftest.hcl
Due: none

feat: add helm chart validation with kubeconform and unittest
  .github/workflows/ci-helm-validation.yml
  gitops/helm/backstage/chart/tests/deployment_test.yaml
  gitops/helm/backstage/chart/tests/ingress_test.yaml
  gitops/helm/backstage/chart/tests/service_test.yaml
Due: emoji-enforcer

fix: add fallback for terraform test JSON output shape
  scripts/collect_test_metrics.py
  tests/unit/test_collect_test_metrics.py
Due: none

Path conditions:
  doc-metadata-autofix: any of: ^docs/.*\.md$
  emoji-enforcer: any of: \.(md|yaml|yml)$
