Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.91.0
    hooks:
      - id: terraform_fmt
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ["--config", ".github/linters/markdownlint.yml"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: ["--redact"]
  - repo: local
    hooks:
      - id: doc-metadata-autofix
        name: Doc Metadata Auto-Fix
        entry: python3 scripts/standardize_metadata.py
        language: python
        additional_dependencies:
          - pyyaml
        stages: [commit]
        files: ^docs/.*\.md$
        pass_filenames: true
      - id: emoji-enforcer
        name: Emoji Usage Policy Enforcer
        entry: python3 scripts/enforce_emoji_policy.py
        language: python
        files: \.(md|yaml|yml)$
        pass_filenames: true

docs: add expected output examples to RB-0026
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
Due: doc-metadata-autofix, emoji-enforcer

ci: implement real targeted apply and harden secret request workflows
  .github/workflows/secret-request-apply.yml
  .github/workflows/secret-request-pr.yml
Due: emoji-enforcer

test: trigger PR workflow
  docs/catalogs/secrets/payments/dev/SEC-0007.yaml
Due: emoji-enforcer

ci: align secret workflows with ECR patterns (manual request, real plan, auto-apply)
  .github/workflows/request-app-secret.yml
  .github/workflows/secret-request-apply.yml
  .github/workflows/secret-request-pr.yml
Due: emoji-enforcer

ci: enrich secret request workflow with standard dropdowns
  .github/workflows/request-app-secret.yml
Due: emoji-enforcer

fix(ci): fix plan output file path mismatch in secret request workflow
  .github/workflows/request-app-secret.yml
Due: emoji-enforcer

docs: finalize secret request flow documentation and runbook
  .github/workflows/request-app-secret.yml
  .github/workflows/secret-request-apply.yml
  .github/workflows/secret-request-pr.yml
  .goldenpath/value_ledger.json
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
  docs/adrs/ADR-0144-intent-to-projection-parser.md
  docs/changelog/entries/CL-0105-secret-request-parser-refinements.md
  how-it-works/SECRET_REQUEST_FLOW.md
Due: doc-metadata-autofix, emoji-enforcer

feat: standardize secret request workflows and enhance guided inputs (CL-0106)
  .github/workflows/request-app-secret.yml
  .github/workflows/secret-request-apply.yml
  .github/workflows/secret-request-pr.yml
  docs/changelog/entries/CL-0106-workflow-driven-secret-provisioning.md
  scripts/secret_request_parser.py
  tests/unit/test_secret_request_parser.py
Due: doc-metadata-autofix, emoji-enforcer

docs(backstage): regenerate catalog docs
  backstage-helm/catalog/docs/adrs-index.yaml
  backstage-helm/catalog/docs/adrs/adr-0141.yaml
  backstage-helm/catalog/docs/adrs/adr-0142.yaml
  backstage-helm/catalog/docs/adrs/adr-0143.yaml
  backstage-helm/catalog/docs/adrs/adr-0144.yaml
  backstage-helm/catalog/docs/changelogs-index.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0103.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0104.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0105.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0106.yaml
Due: emoji-enforcer

chore: sync local development changes to remote [automated]
  PLATFORM_HEALTH.md
  ci-workflows/CI_WORKFLOWS.md
  dev_workflow.yml
  docs/00-foundations/34_PLATFORM_SUCCESS_CHECKLIST.md
  docs/10-governance/METADATA_ARTIFACT_ADOPTION_POLICY.md
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
  docs/70-operations/runbooks/RB-0012-argocd-app-readiness.md
  docs/90-doc-system/METADATA_BACKFILL_RUNBOOK.md
  docs/90-doc-system/PLATFORM_SYSTEM_MAP.md
  gitops/kustomize/overlays/dev/apps/payments/externalsecrets/SEC-0007.yaml
  main_workflow.yml
  scripts/check_doc_index_contract.py
  scripts/index.md
  scripts/platform_health.py
Due: doc-metadata-autofix, emoji-enforcer

chore: disable failing secret-request-pr workflow
  .github/workflows/secret-request-pr.yml.disabled
Due: none

chore: enforce emoji policy on runbooks
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
Due: doc-metadata-autofix, emoji-enforcer

fix(governance): implement recursive metadata inheritance for validator
  scripts/lib/metadata_config.py
Due: none

chore(secrets): generate tfvars + ExternalSecret manifests [skip ci]
  gitops/kustomize/overlays/dev/apps/payments/externalsecrets/SEC-0007.yaml
Due: emoji-enforcer

fix(hygiene): final end-of-file fixes for pre-commit
  .goldenpath/value_ledger.json
  docs/60-security/SECURITY_POSTURE.md
Due: doc-metadata-autofix, emoji-enforcer

chore(ci): disable failing secret-request-apply workflow and rouge metadata file
  .github/workflows/metadata.yaml.disabled
  .github/workflows/secret-request-apply.yml.disabled
Due: none

chore(hygiene): automated document healing and formatting
  .agent/workflows/pass-pr-gates.md
  .github/workflows/README.md
  .goldenpath/value_ledger.json
  README.md
  apps/fast-api-app-template/README.md
  apps/stateful-app/README.md
  backstage-helm/PLUGIN_ENABLEMENT_MATRIX.md
  ci-workflows/CI_WORKFLOWS.md
  docs/60-security/SECURITY_POSTURE.md
  envs/dev/secrets/generated/metadata.yaml
  gitops/argocd/CHART_VERSIONS.md
  gitops/kustomize/bases/README.md
  gitops/kustomize/overlays/dev/README.md
  gitops/kustomize/overlays/dev/apps/payments/externalsecrets/SEC-0007.yaml
  gitops/kustomize/overlays/prod/README.md
  gitops/kustomize/overlays/staging/README.md
  gitops/kustomize/overlays/test/README.md
  how-it-works/PR_GUARDRAILS.md
  tests/features/doc_auto_healing/test-record.md
  tests/features/ecr_catalog_generator/actual-output.md
  tests/features/ecr_catalog_generator/test-plan.md
  tests/features/ecr_catalog_generator/test-results.md
  tests/features/governance_traceability/test-record-20260107.md
Due: doc-metadata-autofix, emoji-enforcer

chore(telemetry): update value ledger
  .goldenpath/value_ledger.json
Due: none

chore(hygiene): align script output with pre-commit standards
  .goldenpath/value_ledger.json
  .pre-commit-config.yaml
  ci-workflows/CI_WORKFLOWS.md
  docs/60-security/SECURITY_POSTURE.md
  scripts/index.md
  scripts/lib/vq_logger.py
  scripts/standardize_metadata.py
Due: doc-metadata-autofix, emoji-enforcer

docs(changelog): document hygiene dialect alignment (CL-0107)
  docs/changelog/entries/CL-0107-hygiene-dialect-alignment.md
Due: doc-metadata-autofix, emoji-enforcer

chore(governance): implement permanent stability fixes (CL-0108)
  .github/workflows/ci-index-auto-heal.yml
  .pre-commit-config.yaml
  PLATFORM_PR_GATES_FIX.md
  docs/changelog/entries/CL-0108-governance-stability.md
  scripts/aws_inventory.py
  scripts/backfill_metadata.py
  scripts/extract_relationships.py
  scripts/generate_backstage_docs.py
  scripts/generate_backstage_ecr.py
  scripts/lib/metadata_config.py
  scripts/scaffold_doc.py
  scripts/standardize_metadata.py
  scripts/sync_ecr_catalog.py
Due: doc-metadata-autofix, emoji-enforcer

chore(governance): resolve multi-doc YAMLs and ownership oscillation (CL-0109)
  PLATFORM_PR_GATES_FIX.md
  apps/Wordpress-on-EFS/deploy/helm/templates/rbac.yaml
  apps/Wordpress-on-EFS/deploy/kustomize/base/rbac.yaml
  apps/Wordpress-on-EFS/rbac.yaml
  apps/Wordpress-on-EFS/wp-deployment/mysql-deployment.yaml
  apps/Wordpress-on-EFS/wp-deployment/wp-deployment.yaml
  apps/fast-api-app-template/rbac.yaml
  apps/sample-stateless-app/deploy/helm/templates/rbac.yaml
  apps/sample-stateless-app/deploy/kustomize/base/rbac.yaml
  apps/sample-stateless-app/rbac.yaml
  apps/stateful-app/deploy-mysql.yaml
  apps/stateful-app/deploy-wordpress-by-deployment.yaml
  apps/stateful-app/deploy-wordpress-by-statefulset.yaml
  apps/stateful-app/deploy/helm/templates/rbac.yaml
  apps/stateful-app/deploy/kustomize/base/rbac.yaml
  apps/stateful-app/pvcs.yaml
  apps/stateful-app/rbac.yaml
  ci-workflows/CI_WORKFLOWS.md
  docs/changelog/entries/CL-0109-multi-doc-governance.md
  scripts/generate_adr_index.py
  scripts/generate_script_index.py
  scripts/generate_workflow_index.py
  scripts/index.md
  scripts/lib/metadata_config.py
  scripts/standardize_metadata.py
Due: doc-metadata-autofix, emoji-enforcer

fix(tooling): restore missing python imports (CL-0110)
  backstage-helm/catalog/docs/adrs-index.yaml
  backstage-helm/catalog/docs/adrs/adr-0009.yaml
  backstage-helm/catalog/docs/adrs/adr-0018.yaml
  backstage-helm/catalog/docs/adrs/adr-0042.yaml
  backstage-helm/catalog/docs/adrs/adr-0101.yaml
  backstage-helm/catalog/docs/adrs/adr-0102.yaml
  backstage-helm/catalog/docs/adrs/adr-0127.yaml
  backstage-helm/catalog/docs/adrs/adr-0128.yaml
  backstage-helm/catalog/docs/adrs/adr-0129.yaml
  backstage-helm/catalog/docs/adrs/adr-0130.yaml
  backstage-helm/catalog/docs/adrs/adr-0132.yaml
  backstage-helm/catalog/docs/adrs/adr-0133.yaml
  backstage-helm/catalog/docs/adrs/adr-0140.yaml
  backstage-helm/catalog/docs/adrs/adr-0141.yaml
  backstage-helm/catalog/docs/adrs/adr-0142.yaml
  backstage-helm/catalog/docs/adrs/adr-0143.yaml
  backstage-helm/catalog/docs/adrs/adr-0144.yaml
  backstage-helm/catalog/docs/changelogs-index.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0059.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0103.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0104.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0105.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0106.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0107.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0108.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0109.yaml
  backstage-helm/catalog/docs/governance/governance-02-governance-model.yaml
  backstage-helm/catalog/docs/governance/governance-metadata-artifact-adoption-policy.yaml
  backstage-helm/catalog/docs/governance/governance-metadata-inheritance-strategy.yaml
  backstage-helm/catalog/docs/governance/governance-reports-health-audit-log.yaml
  docs/changelog/entries/CL-0110-restoring-tooling-imports.md
  scripts/aws_inventory.py
  scripts/generate_backstage_docs.py
  scripts/generate_backstage_ecr.py
  scripts/sync_ecr_catalog.py
Due: doc-metadata-autofix, emoji-enforcer

docs(governance): codify frictionless PR gates workflow (RB-0027)
  README.md
  docs/70-operations/runbooks/RB-0027-frictionless-pr-gates.md
  docs/80-onboarding/00_START_HERE.md
  docs/80-onboarding/24_PR_GATES.md
  how-it-works/PR_GUARDRAILS.md
Due: doc-metadata-autofix, emoji-enforcer

docs(product): add frictionless PR workflow to features and capability ledger
  docs/00-foundations/product/CAPABILITY_LEDGER.md
  docs/00-foundations/product/FEATURES.md
Due: doc-metadata-autofix, emoji-enforcer

fixed precommit issues
  docs/00-foundations/product/CAPABILITY_LEDGER.md
  docs/80-onboarding/24_PR_GATES.md
Due: doc-metadata-autofix, emoji-enforcer

fix(ci): stabilize secret request pipeline and restore workflows (CL-0111)
  .github/workflows/secret-request-apply.yml
  .github/workflows/secret-request-pr.yml
  PLATFORM_PR_GATES_FIX.md
  docs/changelog/entries/CL-0111-secret-request-stabilization.md
Due: doc-metadata-autofix, emoji-enforcer

fixed precommit issues
  PLATFORM_PR_GATES_FIX.md
Due: emoji-enforcer

docs(hygiene): fix markdownlint violations for CI parity (CL-0112)
  PLATFORM_PR_GATES_FIX.md
  docs/80-onboarding/24_PR_GATES.md
Due: doc-metadata-autofix, emoji-enforcer

docs(changelog): document markdown lint fixes (CL-0112)
  docs/changelog/entries/CL-0112-markdown-lint-fixes.md
Due: doc-metadata-autofix, emoji-enforcer

feat(governance): implement governance mirror pattern (ADR-0145)
  docs/adrs/ADR-0145-governance-registry-mirror.md
  docs/changelog/entries/CL-0113-governance-registry-implementation.md
  how-it-works/GOVERNANCE_REGISTRY_MIRROR.md
Due: doc-metadata-autofix, emoji-enforcer

docs(governance): finalize ADR-0145 implementation contract
  docs/adrs/ADR-0145-governance-registry-mirror.md
  how-it-works/GOVERNANCE_REGISTRY_MIRROR.md
Due: doc-metadata-autofix, emoji-enforcer

docs(governance): synchronize all capabilities in How-it-Works guide
  how-it-works/GOVERNANCE_REGISTRY_MIRROR.md
Due: emoji-enforcer

feat(governance): add registry operations runbook and writer workflow
  .github/workflows/governance-registry-writer.yml
  docs/70-operations/runbooks/RB-0028-governance-registry-operations.md
Due: doc-metadata-autofix, emoji-enforcer

fix(governance): resolve ADR-0145 inconsistencies and add implementation contract
  docs/adrs/ADR-0145-governance-registry-mirror.md
Due: doc-metadata-autofix, emoji-enforcer

feat(governance): add registry ledger validator
  .github/workflows/govreg-validate.yml
  scripts/validate_govreg.py
Due: emoji-enforcer

docs(governance): add registry validator to capability ledger and how-it-works
  docs/00-foundations/product/CAPABILITY_LEDGER.md
  how-it-works/GOVERNANCE_REGISTRY_MIRROR.md
Due: doc-metadata-autofix, emoji-enforcer
