Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

doc-metadata-autofix:
  name: Doc Metadata Auto-Fix
  entry: python3 scripts/standardize_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  stages:
  - pre-commit
  pass_filenames: true

emoji-enforcer:
  name: Emoji Usage Policy Enforcer
  entry: python3 scripts/enforce_emoji_policy.py
  language: python
  pass_filenames: true

docs: add extract_relationships.py review feedback
  session_capture/2026-01-17-session-capture-rds-relationship-refresh.md
Due: emoji-enforcer

docs: fix session capture - add relates_to, remove duplicate
  session_capture/2026-01-17-session-capture-rds-relationship-refresh.md
Due: emoji-enforcer

feat(scripts): add bidirectional backlink population to extract_relationships.py
  scripts/extract_relationships.py
Due: none

docs: update session capture with bidirectional backlinks implementation
  session_capture/2026-01-17-session-capture-rds-relationship-refresh.md
Due: emoji-enforcer

fix: add RDS request paths to size approval guard trigger
  .github/workflows/rds-size-approval-guard.yml
  docs/10-governance/PR_GUARDRAILS_INDEX.md
Due: doc-metadata-autofix, emoji-enforcer

fix: use brace-aware parser for tfvars drift guard
  .github/workflows/rds-tfvars-drift-guard.yml
Due: emoji-enforcer

fix: handle quoted keys in RDS tfvars drift guard
  .github/workflows/rds-tfvars-drift-guard.yml
Due: emoji-enforcer

feat: add EKS scope gate to prevent accidental cluster rebuilds
  .github/workflows/infra-terraform-apply-dev.yml
  docs/changelog/entries/CL-0142-eks-apply-scope-gate.md
Due: doc-metadata-autofix, emoji-enforcer

feat(backstage): add secrets scaffolder with tiered approval
  .github/workflows/secret-approval-guard.yml
  backstage-helm/backstage-catalog/templates/secret-request.yaml
  backstage-helm/backstage-catalog/templates/skeletons/secret-request/${{ values.secret_name }}.yaml
Due: emoji-enforcer

docs(session): add EKS backstage scaffolder design session capture
  session_capture/2026-01-17-eks-backstage-scaffolder-design.md
Due: emoji-enforcer

feat: add EKS request system + Kong/Copilot extension capabilities
  .github/workflows/ci-eks-request-validation.yml
  .github/workflows/eks-bootstrap-only.yml
  .github/workflows/eks-request-apply.yml
  .github/workflows/eks-size-approval-guard.yml
  .github/workflows/secret-approval-guard.yml
  .github/workflows/secret-request-pr.yml
  Makefile
  backstage-helm/backstage-catalog/templates/eks-request.yaml
  backstage-helm/backstage-catalog/templates/secret-request.yaml
  backstage-helm/backstage-catalog/templates/skeletons/eks-request/${{ values.request_id }}.yaml
  backstage-helm/backstage-catalog/templates/skeletons/secret-request/${{ values.request_id }}.yaml
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  docs/20-contracts/eks-requests/dev/EKS-0001.yaml
  docs/20-contracts/resource-catalogs/README.md
  docs/20-contracts/resource-catalogs/eks-catalog.yaml
  docs/70-operations/30_PLATFORM_RDS_ARCHITECTURE.md
  docs/70-operations/32_TERRAFORM_STATE_AND_LOCKING.md
  docs/70-operations/runbooks/RB-0033-persistent-cluster-teardown.md
  docs/70-operations/runbooks/RB-0034-persistent-cluster-deployment.md
  docs/70-operations/runbooks/README.md
  docs/85-how-it-works/self-service/EKS_REQUEST_FLOW.md
  docs/adrs/01_adr_index.md
  docs/adrs/ADR-0168-eks-request-parser-and-mode-aware-workflows.md
  docs/adrs/ADR-0169-secret-request-system-generated-ids.md
  docs/changelog/entries/CL-0143-eks-request-system.md
  docs/changelog/entries/CL-0144-secrets-scaffolder-workflow-dispatch.md
  docs/changelog/entries/CL-0145-persistent-cluster-teardown-runbook.md
  docs/extend-capabilities/EC-0003-kong-backstage-plugin.md
  docs/extend-capabilities/EC-0004-backstage-copilot-plugin.md
  docs/extend-capabilities/INDEX.md
  envs/dev/README.md
  envs/dev/main.tf
  envs/dev/terraform.tfvars
  schemas/metadata/enums.yaml
  schemas/requests/eks.schema.yaml
  scripts/eks_request_parser.py
  scripts/index.md
  session_capture/2026-01-17-eks-backstage-scaffolder-design.md
  session_capture/2026-01-17-session-capture-guardrail.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

fix: align session capture with development and append updates properly
  session_capture/2026-01-17-session-capture-guardrail.md
Due: emoji-enforcer

fix: terraform fmt envs/dev/main.tf
  envs/dev/main.tf
Due: none

fix: terraform precondition must reference config values
  envs/dev/main.tf
Due: none

fix: RDS outputs require persistent lifecycle check
  envs/dev/outputs.tf
Due: none

fix: disable coupled RDS in ephemeral mode tfvars
  envs/dev/terraform.tfvars
Due: none

chore: update session docs and minor fixes
  .github/workflows/eks-request-apply.yml
  schemas/metadata/enums.yaml
  session_capture/2026-01-17-eks-backstage-scaffolder-design.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

docs: add review feedback to S3 request flow planning
  session_capture/2026-01-17-s3-request-flow-planning.md
Due: emoji-enforcer

feat(ec): add EC-0005 Kubernetes Operator Framework
  docs/extend-capabilities/EC-0005-kubernetes-operator-framework.md
  docs/extend-capabilities/INDEX.md
Due: doc-metadata-autofix, emoji-enforcer

docs(ec): add additional recommendations to EC-0005
  docs/extend-capabilities/EC-0005-kubernetes-operator-framework.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add K8s API extensibility strategy to EC-0005
  docs/extend-capabilities/EC-0005-kubernetes-operator-framework.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add ADR-0170 and CL-0146 for S3 self-service request system
  docs/adrs/ADR-0170-s3-self-service-request-system.md
  docs/changelog/entries/CL-0146-s3-request-system.md
  session_capture/2026-01-17-s3-request-flow-planning.md
Due: doc-metadata-autofix, emoji-enforcer

feat: add S3 request schema, contract structure, and catalog (Phase 1)
  docs/20-contracts/resource-catalogs/s3-catalog.yaml
  docs/20-contracts/s3-requests/README.md
  docs/20-contracts/s3-requests/dev/S3-0001.yaml
  schemas/requests/s3.schema.yaml
Due: doc-metadata-autofix, emoji-enforcer

docs: update session capture with Phase 1 completion status
  session_capture/2026-01-17-s3-request-flow-planning.md
Due: emoji-enforcer

feat: add S3 request parser (SCRIPT-0037) with tests (Phase 2)
  schemas/requests/s3.schema.yaml
  scripts/s3_request_parser.py
  tests/scripts/test_script_0037.py
Due: emoji-enforcer

feat: add S3 request CI validation workflow (Phase 3)
  .github/workflows/ci-s3-request-validation.yml
  session_capture/2026-01-17-s3-request-flow-planning.md
Due: emoji-enforcer

docs: update session capture with Phase 3 completion
  session_capture/2026-01-17-s3-request-flow-planning.md
Due: emoji-enforcer

feat: add S3 apply workflow and approval guard (Phase 5)
  .github/workflows/s3-approval-guard.yml
  .github/workflows/s3-request-apply.yml
Due: emoji-enforcer

feat: add S3 Backstage template and creation workflow (Phase 6)
  .github/workflows/create-s3-bucket.yml
  backstage-helm/backstage-catalog/templates/s3-request.yaml
Due: emoji-enforcer

chore: regenerate script certification matrix (SCRIPT-0037)
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
Due: doc-metadata-autofix, emoji-enforcer

fix: remove redundant conditional in lifecycle_rules assignment
  scripts/s3_request_parser.py
Due: none

fix: add missing owner field and fix categories in changelog entries
  docs/changelog/entries/CL-0142-eks-apply-scope-gate.md
  docs/changelog/entries/CL-0145-persistent-cluster-teardown-runbook.md
  docs/changelog/entries/CL-0146-s3-request-system.md
  docs/changelog/entries/CL-0147-governance-registry-sync-rds-eks-s3.md
Due: doc-metadata-autofix, emoji-enforcer

fix: filter Backstage skeleton files from metadata validation
  .github/workflows/ci-metadata-validation.yml
Due: emoji-enforcer

fix: use env vars in Summary step to avoid bad substitution
  .github/workflows/ci-metadata-validation.yml
Due: emoji-enforcer

fix: exclude Backstage skeletons and heredoc workflows from yamllint
  .yamllint
Due: none

Path conditions:
  doc-metadata-autofix: any of: ^docs/.*\.md$
  emoji-enforcer: any of: \.(md|yaml|yml)$
