Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer, validate-script-governance

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Python linting and formatting (ruff - fast, replaces flake8/isort/black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]

  # Shell script formatting
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
        args: ["-i", "2", "-ci", "-bn"]

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.91.0
    hooks:
      - id: terraform_fmt
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ["--config", ".github/linters/markdownlint.yml"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: ["--redact"]
  - repo: local
    hooks:
      - id: doc-metadata-autofix
        name: Doc Metadata Auto-Fix
        entry: python3 scripts/standardize_metadata.py
        language: python
        additional_dependencies:
          - pyyaml
        stages: [pre-commit]
        files: ^docs/.*\.md$
        pass_filenames: true
      - id: emoji-enforcer
        name: Emoji Usage Policy Enforcer
        entry: python3 scripts/enforce_emoji_policy.py
        language: python
        files: \.(md|yaml|yml)$
        pass_filenames: true
      - id: generate-adr-index
        name: Auto-Heal ADR Index
        entry: python3 scripts/generate_adr_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false
      - id: generate-script-index
        name: Auto-Heal Script Index
        entry: python3 scripts/generate_script_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false
      - id: generate-workflow-index
        name: Auto-Heal Workflow Index
        entry: python3 scripts/generate_workflow_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false
      - id: generate-script-matrix
        name: Auto-Heal Script Matrix
        entry: python3 scripts/generate_script_matrix.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false
      - id: validate-script-governance
        name: Validate Script Governance
        entry: python3 scripts/validate_scripts_tested.py
        language: python
        additional_dependencies: [pyyaml]
        files: ^scripts/.*\.(py|sh|bash)$
        pass_filenames: true

docs: add record-test-metrics.sh to ADR/CL traceability
  docs/adrs/ADR-0183-test-health-metrics-schema.md
  docs/changelog/entries/CL-0197-test-health-metrics-multi-source.md
Due: doc-metadata-autofix, emoji-enforcer

fix: correct heredoc argument passing in record-test-metrics.sh
  docs/adrs/ADR-0183-test-health-metrics-schema.md
  docs/changelog/entries/CL-0197-test-health-metrics-multi-source.md
  scripts/record-test-metrics.sh
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

chore(registry): record teardown-persistent for dev build persistent
  environments/development/latest/build_timings.csv
Due: none

chore(registry): record rds-apply for dev build rds
  environments/development/latest/build_timings.csv
Due: none

chore(registry): record rds-deploy for dev build rds
  environments/development/latest/build_timings.csv
Due: none

fix: prevent governance-registry branch divergence
  scripts/record-build-timing.sh
  scripts/record-test-metrics.sh
Due: validate-script-governance

fix: prevent governance-registry branch divergence (#294)
  scripts/record-build-timing.sh
  scripts/record-test-metrics.sh
Due: validate-script-governance

hotfix: fix jq syntax errors in pipeline-enable target
  Makefile
Due: none

hotfix: fix jq syntax errors in pipeline-enable target (#295)
  Makefile
Due: none

chore: remove stale test_inventory2 and gitignore pr_body.txt
  .gitignore
  docs/20-contracts/resource-catalogs/rds-catalog.yaml
Due: emoji-enforcer

docs: add session capture for governance registry fixes and cleanup
  session_capture/2026-01-27-governance-registry-fixes-and-cleanup.md
Due: emoji-enforcer

chore(registry): record bootstrap-persistent for dev build persistent
  environments/development/latest/build_timings.csv
Due: none

chore: auto-heal value ledger update
  .goldenpath/value_ledger.json
Due: none

docs: update session summary for governance registry fixes
  session_summary/agent_session_summary.md
Due: emoji-enforcer

chore: add last-validated timestamp to session-log-required workflow
  .github/workflows/session-log-required.yml
Due: emoji-enforcer

chore: cleanup stale rds-catalog entry and add session capture (#299)
  .github/workflows/session-log-required.yml
  .gitignore
  docs/20-contracts/resource-catalogs/rds-catalog.yaml
  session_capture/2026-01-27-governance-registry-fixes-and-cleanup.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix: add SKIP-TDD markers and update session docs for branch sync
  scripts/record-build-timing.sh
  scripts/record-test-metrics.sh
  session_capture/2026-01-27-governance-registry-fixes-and-cleanup.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer, validate-script-governance

Sync: Merge main into development (#301)
  Makefile
  scripts/record-build-timing.sh
  scripts/record-test-metrics.sh
  session_capture/2026-01-27-governance-registry-fixes-and-cleanup.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer, validate-script-governance

chore: trigger CI workflows
  README.md
Due: emoji-enforcer
