Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.91.0
    hooks:
      - id: terraform_fmt
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ["--config", ".github/linters/markdownlint.yml"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: ["--redact"]
  - repo: local
    hooks:
      - id: doc-metadata-autofix
        name: Doc Metadata Auto-Fix
        entry: python3 scripts/standardize_metadata.py
        language: python
        additional_dependencies:
          - pyyaml
        stages: [pre-commit]
        files: ^docs/.*\.md$
        pass_filenames: true
      - id: emoji-enforcer
        name: Emoji Usage Policy Enforcer
        entry: python3 scripts/enforce_emoji_policy.py
        language: python
        files: \.(md|yaml|yml)$
        pass_filenames: true
      - id: generate-adr-index
        name: Auto-Heal ADR Index
        entry: python3 scripts/generate_adr_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false
      - id: generate-script-index
        name: Auto-Heal Script Index
        entry: python3 scripts/generate_script_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false
      - id: generate-workflow-index
        name: Auto-Heal Workflow Index
        entry: python3 scripts/generate_workflow_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false

refactor(governance): make registry validator schema-driven
  schemas/governance/govreg.schema.yaml
  scripts/validate_govreg.py
Due: emoji-enforcer

test(governance): add feature test plan for registry mirror
  tests/feature-tests/governance-registry-mirror/test-plan.md
Due: emoji-enforcer

test(governance): document successful registry mirror test execution
  tests/feature-tests/governance-registry-mirror/test-record-20260112.md
Due: emoji-enforcer

feat(governance): complete full migration to governance registry
  .github/workflows/governance-registry-writer.yml
  docs/10-governance/GOVERNANCE_REGISTRY_MIGRATION.md
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
  docs/changelog/entries/CL-0114-governance-registry-full-migration.md
  tests/feature-tests/governance-registry-mirror/test-plan.md
  tests/feature-tests/governance-registry-mirror/test-record-20260112.md
Due: doc-metadata-autofix, emoji-enforcer

feat(governance): migrate AWS inventory reports to registry
  .github/workflows/governance-registry-writer.yml
  docs/changelog/entries/CL-0115-aws-inventory-migration.md
Due: doc-metadata-autofix, emoji-enforcer

feat(governance): create script certification audit matrix
  docs/10-governance/SCRIPT_CERTIFICATION_AUDIT.md
Due: doc-metadata-autofix, emoji-enforcer

feat(governance): enforce script certification at commit time
  .githooks/README.md
  .githooks/pre-commit-script-certification
  .github/workflows/script-certification-gate.yml
Due: emoji-enforcer

feat(governance): implement dry-run for standardize_metadata.py
  docs/10-governance/SCRIPT_CERTIFICATION_AUDIT.md
  docs/changelog/entries/CL-0116-standardize-metadata-dry-run.md
  scripts/standardize_metadata.py
Due: doc-metadata-autofix, emoji-enforcer

feat(governance): implement schema-driven script certification
  docs/changelog/entries/CL-0117-schema-driven-certification.md
  schemas/automation/script.schema.yaml
  scripts/standardize_metadata.py
  scripts/validate_scripts_tested.py
Due: doc-metadata-autofix, emoji-enforcer

docs(adr): create ADR-0146 schema-driven script certification
  docs/adrs/ADR-0146-schema-driven-script-certification.md
Due: doc-metadata-autofix, emoji-enforcer

feat(governance): add 'bin/test-verified' validation wrapper
  bin/test-verified
Due: none

refactor(governance): optimize script certification architecture
  bin/test-verified
  scripts/lib/script_metadata.py
  scripts/validate_scripts_tested.py
Due: none

docs(contract): formalize CNT-001 Script Standard (Born Governed)
  docs/contracts/script-standard.md
Due: doc-metadata-autofix, emoji-enforcer

docs(guide): create BORN_GOVERNED_LIFECYCLE.md
  docs/how-it-works/BORN_GOVERNED_LIFECYCLE.md
Due: doc-metadata-autofix, emoji-enforcer

feat(certification): certify standardize_metadata.py to Level 3
  docs/10-governance/SCRIPT_CERTIFICATION_AUDIT.md
  scripts/standardize_metadata.py
  test-results/proofs/proof-standardize_metadata.json
  tests/unit/test_standardize_metadata.py
Due: doc-metadata-autofix, emoji-enforcer

docs(guide): enhance BORN_GOVERNED_LIFECYCLE with philosophy and nuances
  docs/how-it-works/BORN_GOVERNED_LIFECYCLE.md
Due: doc-metadata-autofix, emoji-enforcer

feat(governance): implement Backfill Injector and V2 Validator
  schemas/automation/script_ids.yaml
  scripts/inject_script_metadata.py
  scripts/validate_scripts_tested.py
Due: emoji-enforcer

docs(governance): add ADR-0147 Automated Backfill and Guide updates
  docs/adrs/ADR-0147-automated-governance-backfill.md
  docs/changelog/entries/CL-0118-automated-backfill.md
  docs/how-it-works/BORN_GOVERNED_LIFECYCLE.md
Due: doc-metadata-autofix, emoji-enforcer

feat(governance): add Matrix Generator and CI Enforcement
  .github/workflows/ci-governance.yml
  docs/70-operations/SCRIPT_CERTIFICATION_MATRIX.md
  scripts/generate_script_matrix.py
Due: doc-metadata-autofix, emoji-enforcer

docs(governance): consolidate Governance Audit and Matrix
  docs/10-governance/SCRIPT_CERTIFICATION_AUDIT.md
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  scripts/generate_script_matrix.py
Due: doc-metadata-autofix, emoji-enforcer

docs(roadmap): add Terraform Governance scope to audit plan
  docs/10-governance/SCRIPT_CERTIFICATION_AUDIT.md
Due: doc-metadata-autofix, emoji-enforcer

docs(roadmap): sync Roadmap 079-080 with Governance status
  docs/production-readiness-gates/ROADMAP.md
Due: doc-metadata-autofix, emoji-enforcer

build(hooks): enforce script governance in pre-commit
  .pre-commit-config.yaml
Due: emoji-enforcer

fix(governance): repair shebangs and enable recursive injection
  scripts/audit_metadata.py
  scripts/aws_inventory.py
  scripts/backfill_metadata.py
  scripts/check_compliance.py
  scripts/check_doc_freshness.py
  scripts/check_doc_index_contract.py
  scripts/check_script_traceability.py
  scripts/enforce_emoji_policy.py
  scripts/extract_relationships.py
  scripts/fix_yaml_syntax.py
  scripts/generate_adr_index.py
  scripts/generate_backstage_docs.py
  scripts/generate_backstage_ecr.py
  scripts/generate_catalog_docs.py
  scripts/generate_doc_system_map.py
  scripts/generate_governance_vocab.py
  scripts/inject_script_metadata.py
  scripts/migrate_partial_metadata.py
  scripts/policy-enforcement/check-policy-compliance.py
  scripts/pr_guardrails.py
  scripts/render_template.py
  scripts/repair_shebangs.py
  scripts/scaffold_doc.py
  scripts/scaffold_ecr.py
  scripts/scaffold_test.py
  scripts/secret_request_parser.py
  scripts/sync_backstage_entities.py
  scripts/sync_ecr_catalog.py
  scripts/validate_enums.py
  scripts/validate_govreg.py
  scripts/validate_metadata.py
  scripts/validate_routing_compliance.py
Due: none

fix(governance): resolve shebang regression & add unit tests
  scripts/inject_script_metadata.py
  tests/unit/test_inject_script_metadata.py
Due: none

fix(script): correct future import placement
  scripts/secret_request_parser.py
Due: none

docs(product): add Born Governed capabilities to ledger
  docs/00-foundations/product/CAPABILITY_LEDGER.md
Due: doc-metadata-autofix, emoji-enforcer

docs(product): advertise Script Certification feature
  docs/00-foundations/product/FEATURES.md
Due: doc-metadata-autofix, emoji-enforcer

feat(observability): integrate Script Certification into Platform Health dashboard
  PLATFORM_HEALTH.md
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
  scripts/platform_health.py
Due: doc-metadata-autofix, emoji-enforcer

build(hooks): auto-generate Script Certification Matrix on commit
  .pre-commit-config.yaml
Due: emoji-enforcer

chore(verification): update cryptographic proofs
  test-results/proofs/proof-standardize_metadata.json
Due: none

fix(governance): resolve shell parsing and enum drift
  schemas/metadata/enums.yaml
  scripts/lib/script_metadata.py
Due: emoji-enforcer

fix(ci): point governance check to correct matrix path
  .github/workflows/ci-governance.yml
Due: emoji-enforcer

fix(governance): relax test requirement for legacy scripts
  scripts/generate_script_matrix.py
  scripts/validate_scripts_tested.py
Due: none

style(apps): apply automated metadata healing
  apps/Wordpress-on-EFS/dashboards/configmap-dashboard.yaml
  apps/Wordpress-on-EFS/deploy/helm/templates/configmap-dashboard.yaml
  apps/Wordpress-on-EFS/deploy/helm/templates/storageclass-efs.yaml
  apps/fast-api-app-template/dashboards/configmap-dashboard.yaml
  apps/sample-stateless-app/dashboards/configmap-dashboard.yaml
  apps/sample-stateless-app/deploy/helm/templates/configmap-dashboard.yaml
  apps/stateful-app/dashboards/configmap-dashboard.yaml
  apps/stateful-app/deploy/helm/templates/configmap-dashboard.yaml
  apps/stateful-app/deploy/helm/templates/storageclass-efs.yaml
  apps/stateful-app/storageclass-efs.yaml
  tests/unit/__pycache__/test_inject_script_metadata.cpython-311-pytest-8.3.2.pyc
  tests/unit/__pycache__/test_metadata_inheritance.cpython-311-pytest-8.3.2.pyc
  tests/unit/__pycache__/test_secret_request_parser.cpython-311-pytest-8.3.2.pyc
  tests/unit/__pycache__/test_standardize_metadata.cpython-311-pytest-8.3.2.pyc
  tests/unit/__pycache__/test_validate_metadata.cpython-311-pytest-8.3.2.pyc
  tests/unit/__pycache__/test_vq_logger.cpython-311-pytest-8.3.2.pyc
Due: emoji-enforcer

style(yaml): fix trailing whitespace and bracket spacing
  .github/workflows/ci-governance.yml
  .github/workflows/governance-registry-writer.yml
  .github/workflows/script-certification-gate.yml
  schemas/governance/govreg.schema.yaml
Due: emoji-enforcer

chore(docs): regenerate script certification matrix
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
Due: doc-metadata-autofix, emoji-enforcer
