Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

doc-metadata-autofix:
  name: Doc Metadata Auto-Fix
  entry: python3 scripts/standardize_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  stages:
  - pre-commit
  pass_filenames: true

emoji-enforcer:
  name: Emoji Usage Policy Enforcer
  entry: python3 scripts/enforce_emoji_policy.py
  language: python
  pass_filenames: true

Build ID 22-01-26-01
  envs/dev/terraform.tfvars
Due: none

docs: add terraform validation to PROMPT-0002
  prompt-templates/PROMPT-0002-pre-commit-pre-merge-checks.txt
Due: none

fix: remove deprecated IAM module args from test/staging/prod
  envs/prod/main.tf
  envs/staging/main.tf
  envs/test/main.tf
Due: none

docs: add CL-0165 changelog and session capture for terraform fix
  docs/changelog/entries/CL-0165-terraform-validation-fix.md
  session_capture/2026-01-22-v1-readiness-review-terraform-fix.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

fix: markdown lint and emoji policy compliance
  backstage-helm/backstage-catalog/docs/governance/governance-script-certification-audit.yaml
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix: resolve Terraform count dependency on secret_arn
  modules/aws_secrets_manager/main.tf
Due: none

docs: add session capture for secrets manager hotfix
  session_capture/2026-01-22-secrets-manager-hotfix.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

docs: add comprehensive CI IAM policy and ADR-0177
  .goldenpath/value_ledger.json
  docs/10-governance/policies/iam/github-actions-terraform-full.json
  docs/60-security/33_IAM_ROLES_AND_POLICIES.md
  docs/adrs/01_adr_index.md
  docs/adrs/ADR-0030-platform-precreated-iam-policies.md
  docs/adrs/ADR-0177-ci-iam-comprehensive-permissions.md
Due: doc-metadata-autofix, emoji-enforcer

security: tighten CI IAM policy with proper resource scoping
  docs/10-governance/policies/iam/github-actions-terraform-full.json
Due: none

Build ID 23-01-26-01
  envs/dev/terraform.tfvars
Due: none

chore: update value ledger from pre-commit hooks
  .goldenpath/value_ledger.json
Due: none

docs: add session capture for CI IAM permissions fix
  .goldenpath/value_ledger.json
  session_capture/2026-01-23-ci-iam-permissions-fix.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

docs: add changelog entry CL-0166 for CI IAM permissions fix
  docs/changelog/entries/CL-0166-ci-iam-comprehensive-permissions.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add session capture for V1 ephemeral deploy milestone
  session_capture/2026-01-23-v1-milestone-ephemeral-deploy-success.md
Due: emoji-enforcer

fix: add backend config to RDS workflow terraform init
  .github/workflows/rds-database-apply.yml
Due: emoji-enforcer

docs: add ADR-0178 ephemeral vs persistent DNS and bootstrap contract
  docs/adrs/ADR-0178-ephemeral-persistent-dns-and-bootstrap-contract.md
  docs/production-readiness-gates/ROADMAP.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add ADR-0179 dynamic hostname generation for ephemeral clusters
  docs/adrs/01_adr_index.md
  docs/adrs/ADR-0178-ephemeral-persistent-dns-and-bootstrap-contract.md
  docs/adrs/ADR-0179-dynamic-hostname-generation-ephemeral-clusters.md
  docs/production-readiness-gates/ROADMAP.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve PR gate failures for hotfix merge
  session_capture/2026-01-23-v1-milestone-ephemeral-deploy-success.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix(govreg): preserve build_timings.csv during governance-registry sync
  .github/workflows/governance-registry-writer.yml
Due: emoji-enforcer

docs: update session capture with DNS architecture and govreg fix
  session_capture/2026-01-23-v1-milestone-ephemeral-deploy-success.md
Due: emoji-enforcer

docs: add honest product thesis assessment
  docs/00-foundations/product/PRODUCT_THESIS.md
Due: doc-metadata-autofix, emoji-enforcer

feat: bootstrap v4, ExternalDNS fix, and outcome-driven CI
  .github/workflows/infra-terraform-apply-dev.yml
  .goldenpath/value_ledger.json
  Makefile
  backstage-helm/charts/backstage/templates/configmap.yaml
  backstage-helm/charts/backstage/templates/ingress.yaml
  backstage-helm/charts/backstage/values.yaml
  bootstrap/10_bootstrap/goldenpath-idp-bootstrap-v3.sh
  bootstrap/10_bootstrap/goldenpath-idp-bootstrap-v4.sh
  docs/00-foundations/product/IMPL-0001-tiered-bootstrap-and-hostname-generation.md
  docs/00-foundations/product/PRODUCT_THESIS.md
  docs/00-foundations/product/V1_DETERMINISM_CRITERIA.md
  docs/adrs/01_adr_index.md
  docs/adrs/ADR-0178-ephemeral-persistent-dns-and-bootstrap-contract.md
  docs/adrs/ADR-0179-dynamic-hostname-generation-ephemeral-clusters.md
  docs/adrs/ADR-0180-argocd-orchestrator-contract.md
  docs/changelog/entries/CL-0167-outcome-driven-ci.md
  docs/production-readiness-gates/ROADMAP.md
  envs/dev/main.tf
  envs/dev/outputs.tf
  envs/dev/terraform.tfvars
  envs/prod/main.tf
  envs/staging/main.tf
  envs/test/main.tf
  gitops/helm/argocd/values/dev.yaml
  gitops/helm/argocd/values/prod.yaml
  gitops/helm/argocd/values/staging.yaml
  gitops/helm/argocd/values/test.yaml
  gitops/helm/backstage/values/dev.yaml
  gitops/helm/cluster-autoscaler/values/dev.yaml
  gitops/helm/external-dns/values/dev.yaml
  gitops/helm/kong/values/dev.yaml
  modules/kubernetes_addons/main.tf
  modules/kubernetes_addons/variables.tf
  session_capture/2026-01-21-route53-dns-terraform.md
  session_capture/2026-01-23-externaldns-autoscaler-permanent-fix.md
  session_capture/2026-01-23-outcome-driven-ci-and-bootstrap-fix.md
  session_capture/2026-01-23-v1-milestone-ephemeral-deploy-success.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve CI gate failures for PR #277
  docs/00-foundations/product/PRODUCT_THESIS.md
  docs/00-foundations/product/V1_DETERMINISM_CRITERIA.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

fix: revert session capture to original content for append-only check
  session_capture/2026-01-23-v1-milestone-ephemeral-deploy-success.md
Due: emoji-enforcer

fix: skip enforce-append-only and terraform-plan for release PRs
  .github/workflows/pr-terraform-plan.yml
  .github/workflows/session-capture-guard.yml
Due: emoji-enforcer

fix: add ClusterIssuers to cert-manager ArgoCD app and cleanup script improvements
  Makefile
  bootstrap/60_tear_down_clean_up/README.md
  bootstrap/60_tear_down_clean_up/cleanup-orphans-persistent.sh
  docs/10-governance/07_1_AI_COLLABORATION_PROTOCOL.md
  docs/10-governance/07_AI_AGENT_GOVERNANCE.md
  docs/70-operations/runbooks/RB-0033-persistent-cluster-teardown.md
  docs/80-onboarding/23_NEW_JOINERS.md
  docs/80-onboarding/24_PR_GATES.md
  envs/dev/main.tf
  gitops/argocd/apps/dev/cert-manager.yaml
  prompt-templates/PROMPT-0004-hotfix-permanent-fix-required.txt
  session_capture/2026-01-24-persistent-cluster-teardown-and-deploy-fix.md
Due: doc-metadata-autofix, emoji-enforcer

fix: correct ExternalDNS domainFilters injection bug
  docs/70-operations/45_DNS_MANAGEMENT.md
  docs/adrs/ADR-0180-argocd-orchestrator-contract.md
  envs/dev/main.tf
  envs/dev/terraform.tfvars
  modules/kubernetes_addons/main.tf
  session_capture/2026-01-23-v1-milestone-ephemeral-deploy-success.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add changelog entry CL-0168 for ClusterIssuers and ExternalDNS fixes
  docs/changelog/entries/CL-0168-clusterissuers-externaldns-fix.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add session capture for ClusterIssuers and ExternalDNS fix
  session_capture/2026-01-24-clusterissuers-externaldns-fix.md
Due: emoji-enforcer

docs: add session capture for build timing capture gap
  session_capture/2026-01-24-build-timing-capture-gap.md
Due: emoji-enforcer

docs: add PRD-0006 persistent cluster build timing capture
  docs/20-contracts/prds/PRD-0006-persistent-cluster-build-timing.md
Due: doc-metadata-autofix, emoji-enforcer

docs: correct build timing capture documentation
  docs/20-contracts/prds/PRD-0006-persistent-cluster-build-timing.md
  session_capture/2026-01-24-build-timing-capture-gap.md
Due: doc-metadata-autofix, emoji-enforcer

feat(makefile): add build timing capture for persistent clusters
  Makefile
  docs/changelog/entries/CL-0169-persistent-cluster-build-timing.md
Due: doc-metadata-autofix, emoji-enforcer

docs: update session capture with implementation details
  session_capture/2026-01-24-build-timing-capture-gap.md
Due: emoji-enforcer

feat: expand persistent cluster timing to apply/rds phases
  Makefile
  docs/changelog/entries/CL-0169-persistent-cluster-build-timing.md
  gitops/helm/argocd/values/dev.yaml
  gitops/helm/argocd/values/prod.yaml
  gitops/helm/argocd/values/staging.yaml
  gitops/helm/argocd/values/test.yaml
  scripts/reliability-metrics.sh
  session_capture/2026-01-24-build-timing-capture-gap.md
Due: doc-metadata-autofix, emoji-enforcer

feat(secrets): add initial_value support for deterministic rebuilds
  Makefile
  envs/dev/main.tf
  envs/dev/terraform.tfvars
  envs/dev/variables.tf
  modules/aws_secrets_manager/main.tf
  modules/aws_secrets_manager/variables.tf
  scripts/preflight_secrets_check.sh
Due: none

chore(registry): record teardown-persistent for dev build persistent
  environments/development/latest/build_timings.csv
Due: none

chore(registry): record bootstrap-persistent for dev build persistent
  environments/development/latest/build_timings.csv
Due: none

Path conditions:
  doc-metadata-autofix: any of: ^docs/.*\.md$
  emoji-enforcer: any of: \.(md|yaml|yml)$
