Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer, validate-script-governance

doc-metadata-autofix:
  name: Doc Metadata Auto-Fix
  entry: python3 scripts/standardize_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  stages:
  - pre-commit
  pass_filenames: true

emoji-enforcer:
  name: Emoji Usage Policy Enforcer
  entry: python3 scripts/enforce_emoji_policy.py
  language: python
  pass_filenames: true

validate-script-governance:
  name: Validate Script Governance
  entry: python3 scripts/validate_scripts_tested.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix: apply pre-commit fixes (trailing newline, value ledger)
  .goldenpath/value_ledger.json
  README.md
Due: emoji-enforcer

chore: bump collect_test_metrics maturity and trigger metrics recording
  scripts/collect_test_metrics.py
Due: validate-script-governance

docs: add session capture for test metrics flow activation
  session_capture/2026-01-27-governance-registry-fixes-and-cleanup.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

chore: regenerate script certification matrix
  .goldenpath/value_ledger.json
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
Due: doc-metadata-autofix, emoji-enforcer

chore: trigger test metrics recording workflow (#305)
  .goldenpath/value_ledger.json
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  scripts/collect_test_metrics.py
  session_capture/2026-01-27-governance-registry-fixes-and-cleanup.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

fix: configure git user in registry scripts for CI
  scripts/record-build-timing.sh
  scripts/record-test-metrics.sh
Due: validate-script-governance

docs: add session capture for git config fix
  session_capture/2026-01-27-governance-registry-fixes-and-cleanup.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix: configure git user in registry scripts for CI (#306)
  scripts/record-build-timing.sh
  scripts/record-test-metrics.sh
  session_capture/2026-01-27-governance-registry-fixes-and-cleanup.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer, validate-script-governance

Release: Governance Sync and Cleanup (build-27-01-26-01) (#304)
  .github/workflows/session-log-required.yml
  .gitignore
  .goldenpath/value_ledger.json
  docs/20-contracts/resource-catalogs/rds-catalog.yaml
  scripts/index.md
  scripts/record-build-timing.sh
  scripts/record-test-metrics.sh
  session_capture/2026-01-27-governance-registry-fixes-and-cleanup.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer, validate-script-governance

Release: Test Metrics Fix and Git Config (build-27-01-26-02) (#307)
  .goldenpath/value_ledger.json
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  scripts/collect_test_metrics.py
  scripts/record-build-timing.sh
  scripts/record-test-metrics.sh
  session_capture/2026-01-27-governance-registry-fixes-and-cleanup.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

chore: pre-merge healing - regenerate index and value ledger
  .goldenpath/value_ledger.json
  scripts/index.md
Due: emoji-enforcer

docs: add session summary for PR #309 branch sync
  session_summary/agent_session_summary.md
Due: emoji-enforcer

docs: append session capture update for PR #309
  session_capture/2026-01-27-governance-registry-fixes-and-cleanup.md
Due: emoji-enforcer

Sync: Governance cleanup and session capture (#309)
  .goldenpath/value_ledger.json
  scripts/index.md
  session_capture/2026-01-27-governance-registry-fixes-and-cleanup.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

docs: add RAG governance framework and maturity model
  docs/10-governance/policies/GOV-0020-rag-maturity-model.md
  docs/20-contracts/prds/00_INDEX.md
  docs/20-contracts/prds/PRD-0008-governance-rag-pipeline.md
  docs/20-contracts/prds/README.md
  docs/extend-capabilities/EC-0013-agent-context-architecture.md
  session_capture/2026-01-27-governance-rag-prd.md
Due: doc-metadata-autofix, emoji-enforcer

chore: pre-merge healing and markdownlint fixes
  .goldenpath/value_ledger.json
  docs/20-contracts/prds/PRD-0008-governance-rag-pipeline.md
Due: doc-metadata-autofix, emoji-enforcer

chore: add session summary entry for RAG governance
  .goldenpath/value_ledger.json
  envs/dev-rds/main.tf
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix: terraform fmt alignment in dev-rds/main.tf
  envs/dev-rds/main.tf
Due: none

Sync: RAG Governance Framework and Main Parity (#310)
  .goldenpath/value_ledger.json
  docs/10-governance/policies/GOV-0020-rag-maturity-model.md
  docs/20-contracts/prds/00_INDEX.md
  docs/20-contracts/prds/PRD-0008-governance-rag-pipeline.md
  docs/20-contracts/prds/README.md
  docs/extend-capabilities/EC-0013-agent-context-architecture.md
  envs/dev-rds/main.tf
  session_capture/2026-01-27-governance-rag-prd.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

docs: Agentic Graph RAG reframing and platform distribution framework
  .goldenpath/value_ledger.json
  docs/10-governance/policies/GOV-0020-rag-maturity-model.md
  docs/20-contracts/prds/00_INDEX.md
  docs/20-contracts/prds/PRD-0008-governance-rag-pipeline.md
  docs/extend-capabilities/EC-0017-platform-distribution-framework.md
  envs/dev-rds/main.tf
Due: doc-metadata-autofix, emoji-enforcer

fix: add session capture for governance path changes
  .goldenpath/value_ledger.json
  session_capture/2026-01-28-agentic-graph-rag-reframing.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

docs: Agentic Graph RAG reframing and platform distribution framework (#311)
  .goldenpath/value_ledger.json
  docs/10-governance/policies/GOV-0020-rag-maturity-model.md
  docs/20-contracts/prds/00_INDEX.md
  docs/20-contracts/prds/PRD-0008-governance-rag-pipeline.md
  docs/extend-capabilities/EC-0017-platform-distribution-framework.md
  envs/dev-rds/main.tf
  session_capture/2026-01-28-agentic-graph-rag-reframing.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add ADR-0184 RAG markdown header chunking strategy
  .goldenpath/value_ledger.json
  docs/adrs/01_adr_index.md
  docs/adrs/ADR-0184-rag-markdown-header-chunking.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add ADR-0185 Graphiti as agent memory framework
  .goldenpath/value_ledger.json
  docs/adrs/01_adr_index.md
  docs/adrs/ADR-0185-graphiti-agent-memory-framework.md
Due: doc-metadata-autofix, emoji-enforcer

feat(rag): add Phase 0 loader and chunker with TDD tests
  scripts/rag/__init__.py
  scripts/rag/chunker.py
  scripts/rag/loader.py
  session_capture/2026-01-28-agentic-graph-rag-phase0.md
  tests/golden/fixtures/inputs/GOV-0017-sample.md
  tests/unit/test_chunker.py
  tests/unit/test_loader.py
Due: emoji-enforcer, validate-script-governance

docs: append TDD implementation completion to session capture
  session_capture/2026-01-28-agentic-graph-rag-phase0.md
Due: emoji-enforcer

feat(rag): add golden tests and fenced-code guard for chunker
  docs/10-governance/policies/GOV-0017-tdd-and-determinism.md
  scripts/rag/chunker.py
  session_capture/2026-01-28-agentic-graph-rag-phase0.md
  tests/golden/fixtures/expected/chunks/GOV-0017/chunks.json
  tests/golden/test_chunker_golden.py
  tests/unit/test_chunker.py
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

feat(rag): add ChromaDB indexer with TDD tests
  requirements.txt
  scripts/rag/indexer.py
  tests/unit/test_indexer.py
Due: validate-script-governance

docs: update session capture with indexer completion
  session_capture/2026-01-28-agentic-graph-rag-phase0.md
Due: emoji-enforcer

docs: append full session batch summary to session capture
  session_capture/2026-01-28-agentic-graph-rag-phase0.md
Due: emoji-enforcer

docs: add ADR-0186 LlamaIndex as retrieval layer
  docs/adrs/ADR-0186-llamaindex-retrieval-layer.md
  requirements.txt
Due: doc-metadata-autofix, emoji-enforcer

docs: append LlamaIndex ADR decision to session capture
  session_capture/2026-01-28-agentic-graph-rag-phase0.md
Due: emoji-enforcer

feat(rag): Phase 0 complete - vector retrieval + RAGAS + MCP PRD
  docs/20-contracts/prds/00_INDEX.md
  docs/20-contracts/prds/PRD-0008-governance-rag-pipeline.md
  docs/20-contracts/prds/PRD-0008-phase0-retriever-spec.md
  docs/20-contracts/prds/PRD-0008-phase0-user-test-queries.md
  docs/20-contracts/prds/PRD-0009-integration-test-gap-closure.md
  docs/20-contracts/prds/PRD-0010-governance-rag-mcp-server.md
  docs/20-contracts/prds/README.md
  docs/adrs/ADR-0186-llamaindex-retrieval-layer.md
  docs/production-readiness-gates/ROADMAP.md
  reports/index_metadata.json
  reports/ragas_baseline.json
  reports/ragas_metrics.json
  requirements.txt
  scripts/rag/chunker.py
  scripts/rag/cli.py
  scripts/rag/graph_client.py
  scripts/rag/graph_ingest.py
  scripts/rag/index_build.py
  scripts/rag/index_metadata.py
  scripts/rag/indexer.py
  scripts/rag/loader.py
  scripts/rag/ragas_baseline.py
  scripts/rag/ragas_evaluate.py
  scripts/rag/retriever.py
  scripts/rag/scope.py
  session_capture/2026-01-28-agentic-graph-rag-phase0.md
  tests/golden/fixtures/expected/chunks/GOV-0017/chunks.json
  tests/golden/test_chunker_golden.py
  tests/integration/conftest.py
  tests/integration/test_rag_pipeline.py
  tests/ragas/questions.json
  tests/unit/test_chunker.py
  tests/unit/test_graph_ingest.py
  tests/unit/test_index_build.py
  tests/unit/test_index_metadata.py
  tests/unit/test_indexer.py
  tests/unit/test_query_cli.py
  tests/unit/test_ragas_baseline.py
  tests/unit/test_retriever.py
  tests/unit/test_scope.py
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

fix(rag): resolve 3 failing tests and enhance usage logging
  scripts/rag/cli.py
  tests/unit/test_graph_ingest.py
  tests/unit/test_retriever.py
Due: validate-script-governance

feat(rag): add hybrid retriever with vector + graph expansion
  scripts/rag/hybrid_retriever.py
  tests/unit/test_hybrid_retriever.py
Due: validate-script-governance

feat(rag): add multi-provider LLM synthesis (Ollama/Claude/OpenAI)
  requirements.txt
  scripts/rag/llm_synthesis.py
  tests/unit/test_llm_synthesis.py
Due: validate-script-governance

feat(rag): add multi-provider RAGAS evaluation
  scripts/rag/ragas_evaluate.py
  tests/unit/test_ragas_evaluate.py
Due: validate-script-governance

Path conditions:
  doc-metadata-autofix: any of: ^docs/.*\.md$
  emoji-enforcer: any of: \.(md|yaml|yml)$
  validate-script-governance: any of: ^scripts/.*\.(py|sh|bash)$
