Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

doc-metadata-autofix:
  name: Doc Metadata Auto-Fix
  entry: python3 scripts/standardize_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  stages:
  - pre-commit
  pass_filenames: true

emoji-enforcer:
  name: Emoji Usage Policy Enforcer
  entry: python3 scripts/enforce_emoji_policy.py
  language: python
  pass_filenames: true

fix: add gitleaks false positives for Terraform variable names
  .gitleaksignore
Due: none

fix: resolve pre-commit lint issues
  docs/85-how-it-works/self-service/EKS_REQUEST_FLOW.md
  docs/extend-capabilities/EC-0003-kong-backstage-plugin.md
  docs/extend-capabilities/EC-0005-kubernetes-operator-framework.md
  session_capture/2026-01-17-eks-backstage-scaffolder-design.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve remaining pre-commit lint issues
  .github/workflows/create-s3-bucket.yml
  .gitignore
  docs/extend-capabilities/EC-0004-backstage-copilot-plugin.md
  session_capture/2026-01-17-eks-backstage-scaffolder-design.md
  session_capture/2026-01-17-s3-request-flow-planning.md
Due: doc-metadata-autofix, emoji-enforcer

chore: sync local changes
  docs/20-contracts/resource-catalogs/s3-catalog.yaml
  scripts/s3_request_parser.py
  tests/scripts/test_script_0037.py
Due: emoji-enforcer

docs: add EC-0006 competitor analysis for VMware TAP
  docs/extend-capabilities/EC-0006-competitor-analysis-tap.md
  docs/extend-capabilities/INDEX.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add EC-0007 kpack and Cloud Native Buildpacks integration
  docs/extend-capabilities/EC-0007-kpack-buildpacks-integration.md
  docs/extend-capabilities/INDEX.md
Due: doc-metadata-autofix, emoji-enforcer

fix: add missing templates to Backstage catalog and fix helm values
  backstage-helm/backstage-catalog/all.yaml
  backstage-helm/charts/backstage/values.yaml
Due: emoji-enforcer

feat: add GitHub Actions OIDC and ECR push IAM policies
  docs/10-governance/policies/iam/github-actions-ecr-push.json
  docs/10-governance/policies/iam/github-actions-oidc-trust.json
Due: none

feat: add CD promotion strategy with Argo CD Image Updater
  docs/70-operations/20_TOOLING_APPS_MATRIX.md
  docs/adrs/ADR-0020-platform-helm-kustomize-hybrid.md
  docs/adrs/ADR-0171-platform-application-packaging-strategy.md
  docs/adrs/ADR-0172-cd-promotion-strategy-with-approval-gates.md
  gitops/argocd/apps/dev/argocd-image-updater.yaml
  gitops/argocd/apps/dev/hello-goldenpath-idp.yaml
  gitops/argocd/apps/prod/argocd-image-updater.yaml
  gitops/argocd/apps/prod/hello-goldenpath-idp.yaml
  gitops/argocd/apps/staging/argocd-image-updater.yaml
  gitops/argocd/apps/staging/hello-goldenpath-idp.yaml
  gitops/argocd/apps/test/argocd-image-updater.yaml
  gitops/argocd/apps/test/hello-goldenpath-idp.yaml
  gitops/helm/argocd-image-updater/README.md
  gitops/helm/argocd-image-updater/values/dev.yaml
  gitops/helm/argocd-image-updater/values/metadata.yaml
  gitops/helm/argocd-image-updater/values/prod.yaml
  gitops/helm/argocd-image-updater/values/staging.yaml
  gitops/helm/argocd-image-updater/values/test.yaml
Due: doc-metadata-autofix, emoji-enforcer

feat: add App-of-Apps bootstrap for local Kind cluster
  gitops/argocd/apps/local/backstage.yaml
  gitops/argocd/apps/local/cert-manager.yaml
  gitops/argocd/apps/local/cluster-autoscaler.yaml
  gitops/argocd/apps/local/hello-goldenpath-idp.yaml
  gitops/argocd/apps/local/keycloak.yaml
  gitops/argocd/apps/local/kong.yaml
  gitops/argocd/apps/local/local-infra.yaml
  gitops/argocd/bootstrap/local-app-of-apps.yaml
Due: emoji-enforcer

fix: correct ECR account ID in Image Updater and Argo apps
  gitops/argocd/apps/dev/hello-goldenpath-idp.yaml
  gitops/argocd/apps/prod/hello-goldenpath-idp.yaml
  gitops/argocd/apps/staging/hello-goldenpath-idp.yaml
  gitops/argocd/apps/test/hello-goldenpath-idp.yaml
  gitops/helm/argocd-image-updater/values/dev.yaml
  gitops/helm/argocd-image-updater/values/prod.yaml
  gitops/helm/argocd-image-updater/values/staging.yaml
  gitops/helm/argocd-image-updater/values/test.yaml
Due: emoji-enforcer

fix: resolve CI check failures for PR #258
  backstage-helm/local-deploy /charts/backstage/values.yaml
  docs/changelog/entries/CL-0148-local-kind-argocd-gitops.md
  gitops/helm/argocd-image-updater/values/dev.yaml
  gitops/helm/argocd-image-updater/values/prod.yaml
  gitops/helm/argocd-image-updater/values/staging.yaml
  gitops/helm/argocd-image-updater/values/test.yaml
  session_capture/2026-01-18-local-dev-hello-app.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve remaining CI failures - gitleaks and script contracts
  .gitleaks.toml
  scripts/load-image-to-kind.sh
  scripts/refresh-ecr-secret.sh
Due: none

fix: correct gitleaks config format for commit allowlist
  .gitleaks.toml
Due: none

chore: regenerate script certification matrix
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve pre-commit issues - trailing whitespace and newlines
  backstage-helm/local-deploy /README.md
  backstage-helm/local-deploy /charts/backstage/templates/NOTES.txt
  backstage-helm/local-deploy /charts/backstage/templates/_helpers.tpl
  backstage-helm/local-deploy /charts/backstage/templates/clusterrolebinding.yaml
  backstage-helm/local-deploy /charts/backstage/templates/configmap.yaml
  backstage-helm/local-deploy /charts/backstage/templates/serviceaccount.yaml
  docs/extend-capabilities/EC-0007-kpack-buildpacks-integration.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve markdownlint issues
  backstage-helm/local-deploy /README.md
  docs/extend-capabilities/EC-0007-kpack-buildpacks-integration.md
Due: doc-metadata-autofix, emoji-enforcer

fix: rewrite s3-apply heredoc to avoid make separator error
  Makefile
Due: none

feat: implement idempotent secrets lifecycle management
  bootstrap/60_tear_down_clean_up/goldenpath-idp-teardown-v4.sh
  envs/dev/main.tf
  modules/aws_secrets_manager/main.tf
  modules/aws_secrets_manager/outputs.tf
  modules/aws_secrets_manager/variables.tf
  modules/aws_secrets_manager/versions.tf
  session_capture/2026-01-18-secrets-lifecycle-analysis.md
Due: emoji-enforcer

chore: set teardown v4 as default in CI workflow
  .github/workflows/ci-teardown.yml
  session_capture/2026-01-18-secrets-lifecycle-analysis.md
Due: emoji-enforcer

feat: add argocd-image-updater for local Kind environment
  gitops/argocd/apps/local/argocd-image-updater.yaml
  gitops/argocd/apps/local/hello-goldenpath-idp.yaml
  gitops/helm/argocd-image-updater/values/local.yaml
Due: emoji-enforcer

fix: update local image-updater values to match dev pattern
  gitops/helm/argocd-image-updater/values/local.yaml
Due: emoji-enforcer

fix: use digest strategy for image-updater to detect latest tag changes
  gitops/argocd/apps/local/hello-goldenpath-idp.yaml
Due: emoji-enforcer

fix: specify linux/amd64 platform for image-updater
  gitops/argocd/apps/local/hello-goldenpath-idp.yaml
Due: emoji-enforcer

docs: add session summary for argocd-image-updater and E2E pipeline validation
  session_capture/2026-01-18-secrets-lifecycle-analysis.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix: wrap bare URL in angle brackets for markdownlint
  session_summary/agent_session_summary.md
Due: emoji-enforcer

chore(argocd): use git write-back for local image updates
  gitops/argocd/apps/local/hello-goldenpath-idp.yaml
Due: emoji-enforcer

chore: refresh health report and guard secret restore
  PLATFORM_HEALTH.md
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
  modules/aws_secrets_manager/main.tf
Due: doc-metadata-autofix, emoji-enforcer

fix: correct precondition expression in aws_secrets_manager module
  modules/aws_secrets_manager/main.tf
Due: none

fix: add missing newline at end of HEALTH_AUDIT_LOG.md
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
Due: doc-metadata-autofix, emoji-enforcer

feat: add reusable build, promote, and deploy workflows
  .github/workflows/_build-and-release.yml
  .github/workflows/_deploy.yml
  .github/workflows/_promote.yml
Due: emoji-enforcer

docs: add build pipeline governance policies
  docs/10-governance/policies/GOV-0012-build-pipeline-standards.md
  docs/10-governance/policies/GOV-0013-devsecops-security-standards.md
  docs/10-governance/policies/GOV-0014-devsecops-implementation-matrix.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add ADRs for build pipeline architecture
  docs/adrs/ADR-0170-build-pipeline-architecture.md
  docs/adrs/ADR-0173-governance-doc-naming-migration.md
  docs/adrs/ADR-0174-pipeline-decoupling-from-cluster-bootstrap.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add runbooks for pipeline enablement
  docs/70-operations/runbooks/RB-0036-github-app-image-updater.md
  docs/70-operations/runbooks/RB-0037-pipeline-enablement.md
Due: doc-metadata-autofix, emoji-enforcer

feat: add GitHub App authentication to Image Updater
  gitops/helm/argocd-image-updater/values/dev.yaml
  gitops/helm/argocd-image-updater/values/prod.yaml
  gitops/helm/argocd-image-updater/values/staging.yaml
  gitops/helm/argocd-image-updater/values/test.yaml
Due: emoji-enforcer

feat: add pipeline enablement Makefile targets
  Makefile
Due: none

docs: add app templates, session capture, and pipeline docs
  docs/85-how-it-works/ci-terraform/APP_BUILD_PIPELINE.md
  docs/changelog/entries/CL-0149-build-pipeline-architecture.md
  session_capture/2026-01-19-build-pipeline-architecture.md
  templates/app-repo/.github/workflows/delivery.yml
  templates/app-repo/.github/workflows/promote.yml
  templates/app-repo/.pre-commit-config.yaml
Due: doc-metadata-autofix, emoji-enforcer

feat: update ArgoCD app manifests for Image Updater
  gitops/argocd/apps/dev/hello-goldenpath-idp.yaml
  gitops/argocd/apps/prod/hello-goldenpath-idp.yaml
  gitops/argocd/apps/staging/hello-goldenpath-idp.yaml
  gitops/argocd/apps/test/hello-goldenpath-idp.yaml
Due: emoji-enforcer

Path conditions:
  doc-metadata-autofix: any of: ^docs/.*\.md$
  emoji-enforcer: any of: \.(md|yaml|yml)$
