Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.91.0
    hooks:
      - id: terraform_fmt
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ["--config", ".github/linters/markdownlint.yml"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: ["--redact"]
  - repo: local
    hooks:
      - id: doc-metadata-autofix
        name: Doc Metadata Auto-Fix
        entry: python3 scripts/standardize_metadata.py
        language: python
        additional_dependencies:
          - pyyaml
        stages: [commit]
        files: ^docs/.*\.md$
        pass_filenames: true
      - id: emoji-enforcer
        name: Emoji Usage Policy Enforcer
        entry: python3 scripts/enforce_emoji_policy.py
        language: python
        files: \.(md|yaml|yml)$
        pass_filenames: true

🏗️ chore: point backstage to development branch for catalog sources
  backstage-helm/values-local.yaml
Due: emoji-enforcer

🏗️ chore: update component links to use development branch
  backstage-helm/catalog/components/adr-documentation.yaml
  backstage-helm/catalog/components/changelog-documentation.yaml
  backstage-helm/catalog/components/external-secrets-operator.yaml
  backstage-helm/catalog/components/platform-health.yaml
Due: emoji-enforcer

🏗️ revert: restore all catalog references and techdocs config to main branch
  backstage-helm/catalog/all.yaml
  backstage-helm/catalog/components/adr-documentation.yaml
  backstage-helm/catalog/components/changelog-documentation.yaml
  backstage-helm/catalog/components/external-secrets-operator.yaml
  backstage-helm/catalog/components/platform-health.yaml
  backstage-helm/values-local.yaml
Due: emoji-enforcer

feat: establish formal platform contract architecture
  docs/adrs/ADR-0142-declarative-platform-contracts.md
  docs/adrs/ADR-0143-secret-request-contract.md
  docs/governance/CONTRACT_REGISTRY.md
  docs/governance/PLATFORM_CONTRACT_RATIONALE.md
Due: doc-metadata-autofix, emoji-enforcer

docs: reorganize contract documentation into dedicated registry directory
  docs/20-contracts/contract-registry/CONTRACT_REGISTRY.md
  docs/20-contracts/contract-registry/PLATFORM_CONTRACT_RATIONALE.md
Due: doc-metadata-autofix, emoji-enforcer

feat: standardize SecretRequest contract with risk-tier governance and enums
  docs/20-contracts/contract-registry/CONTRACT_REGISTRY.md
  docs/adrs/ADR-0143-secret-request-contract.md
  schemas/metadata/enums.yaml
Due: doc-metadata-autofix, emoji-enforcer

docs: integrate V1 SecretRequest protocol and synchronize registry
  docs/adrs/ADR-0143-secret-request-contract.md
Due: doc-metadata-autofix, emoji-enforcer

docs: standardize SecretRequest with nested schema and decommissioning parameters
  docs/20-contracts/contract-registry/CONTRACT_REGISTRY.md
  docs/adrs/ADR-0143-secret-request-contract.md
Due: doc-metadata-autofix, emoji-enforcer

docs: append projection mapping appendix to ADR-0143 and clean up formatting
  docs/adrs/ADR-0143-secret-request-contract.md
Due: doc-metadata-autofix, emoji-enforcer

docs: establish how-it-works directory with SecretRequest flow guide
  how-it-works/README.md
  how-it-works/SECRET_REQUEST_FLOW.md
Due: emoji-enforcer

docs: enhance SecretRequest flow with boxed ASCII diagram and details
  how-it-works/SECRET_REQUEST_FLOW.md
Due: emoji-enforcer

docs: add ECR Request Flow guide to how-it-works hub
  how-it-works/ECR_REQUEST_FLOW.md
  how-it-works/README.md
Due: emoji-enforcer

docs: expand how-it-works hub with PR Guardrails and Auto-Healing guides
  how-it-works/DOC_AUTO_HEALING.md
  how-it-works/PR_GUARDRAILS.md
  how-it-works/README.md
Due: emoji-enforcer

docs: apply metadata governance to how-it-works hub
  how-it-works/DOC_AUTO_HEALING.md
  how-it-works/ECR_REQUEST_FLOW.md
  how-it-works/PR_GUARDRAILS.md
  how-it-works/README.md
  how-it-works/SECRET_REQUEST_FLOW.md
  how-it-works/metadata.yaml
Due: emoji-enforcer

docs: populate relates_to traceability for how-it-works guides
  how-it-works/DOC_AUTO_HEALING.md
  how-it-works/ECR_REQUEST_FLOW.md
  how-it-works/PR_GUARDRAILS.md
  how-it-works/SECRET_REQUEST_FLOW.md
Due: emoji-enforcer

docs: establish full bidirectional traceability for how-it-works guides
  .github/workflows/ci-index-auto-heal.yml
  .github/workflows/pr-guardrails.yml
  docs/adrs/ADR-0095-self-service-registry-creation.md
  docs/adrs/ADR-0143-secret-request-contract.md
  scripts/platform_health.py
  scripts/pr_guardrails.py
Due: doc-metadata-autofix, emoji-enforcer

docs: complete bidirectional traceability for ECR and Secret flows
  .github/workflows/create-ecr-registry.yml
  docs/adrs/ADR-0135-platform-secrets-manager-eso-foundation.md
Due: doc-metadata-autofix, emoji-enforcer

docs: complete scaffold_ecr traceability
  scripts/scaffold_ecr.py
Due: none

feat: implement governed Secret Request Flow with automation and bidirectional traceability
  .github/workflows/secret-request-apply.yml
  .github/workflows/secret-request-pr.yml
  .goldenpath/value_ledger.json
  catalogs/secrets/payments/dev/SEC-0007.yaml
  envs/dev/main.tf
  envs/dev/terraform.tfvars
  envs/dev/variables.tf
  gitops/argocd/apps/dev/platform-secrets.yaml
  gitops/manifests/secrets/dev/payments-payments-db-credentials.yaml
  how-it-works/SECRET_REQUEST_FLOW.md
  schemas/metadata/secret_request.schema.yaml
  scripts/process_secret_request.py
  scripts/validate_metadata.py
Due: emoji-enforcer

chore: auto-generate external-secret manifests and update tfvars
  gitops/manifests/secrets/dev/payments-payments-db-credentials.yaml
Due: emoji-enforcer

feat: refine Secret Request Flow to use adapted parser and snake_case standards
  .github/workflows/secret-request-apply.yml
  .github/workflows/secret-request-pr.yml
  docs/adrs/ADR-0143-secret-request-contract.md
  docs/catalogs/secrets/payments/dev/SEC-0007.yaml
  gitops/argocd/apps/dev/platform-secrets.yaml
  gitops/kustomize/overlays/dev/apps/payments/externalsecrets/SEC-0007.yaml
  scripts/platform_health.py
  scripts/process_secret_request.py
  scripts/secret_request_parser.py
Due: doc-metadata-autofix, emoji-enforcer

chore(secrets): generate tfvars + ExternalSecret manifests [skip ci]
  gitops/kustomize/overlays/dev/apps/payments/externalsecrets/SEC-0007.yaml
Due: emoji-enforcer

chore: migrate Secret Request Flow to camelCase Cloud-Native standard
  docs/adrs/ADR-0143-secret-request-contract.md
  docs/catalogs/secrets/payments/dev/SEC-0007.yaml
  how-it-works/SECRET_REQUEST_FLOW.md
  scripts/secret_request_parser.py
Due: doc-metadata-autofix, emoji-enforcer

test: formalize Secret Request Flow testing with unit tests and feature records
  tests/README.md
  tests/feature-tests/secret-request-flow/test-plan.md
  tests/feature-tests/secret-request-flow/test-record-20260111-camelcase-migration.md
  tests/unit/__pycache__/test_secret_request_parser.cpython-311.pyc
  tests/unit/test_secret_request_parser.py
Due: emoji-enforcer

docs: finalize compliance with metadata quotes and standardized IDs
  .goldenpath/value_ledger.json
  docs/20-contracts/contract-registry/CONTRACT_REGISTRY.md
  docs/20-contracts/contract-registry/PLATFORM_CONTRACT_RATIONALE.md
  docs/adrs/ADR-0142-declarative-platform-contracts.md
  docs/adrs/ADR-0143-secret-request-contract.md
  docs/adrs/metadata.yaml
  how-it-works/SECRET_REQUEST_FLOW.md
  tests/feature-tests/secret-request-flow/test-plan.md
Due: doc-metadata-autofix, emoji-enforcer

refactor: refine secrets and ecr infrastructure based on feedback
  envs/dev/main.tf
  envs/dev/terraform.tfvars
  envs/dev/variables.tf
  modules/aws_secrets_manager/main.tf
  modules/aws_secrets_manager/variables.tf
Due: none

feat: refine secrets infrastructure and formalize golden path documentation
  docs/00-foundations/product/CAPABILITY_LEDGER.md
  docs/00-foundations/product/FEATURES.md
  docs/catalogs/secrets/payments/dev/SEC-0007-simulated.yaml
  envs/dev/main.tf
  envs/dev/terraform.tfvars
  envs/dev/variables.tf
  how-it-works/SECRET_REQUEST_FLOW.md
  scripts/secret_request_parser.py
Due: doc-metadata-autofix, emoji-enforcer

docs: satisfy governance requirements for secret request flow refinements
  docs/adrs/ADR-0143-secret-request-contract.md
  docs/changelog/entries/CL-0105-secret-request-parser-refinements.md
Due: doc-metadata-autofix, emoji-enforcer

docs: complete ADRnd reconciliation
  docs/adrs/ADR-0143-secret-request-contract.md
Due: doc-metadata-autofix, emoji-enforcer

docs: finalize ADR-0143 workflow details
  docs/adrs/ADR-0143-secret-request-contract.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add ADR-0144 for Parser architecture and update index
  docs/adrs/01_adr_index.md
  docs/adrs/ADR-0144-intent-to-projection-parser.md
  docs/changelog/entries/CL-0105-secret-request-parser-refinements.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add RB-0026 for local secret generation and targeting
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
  docs/70-operations/runbooks/README.md
Due: doc-metadata-autofix, emoji-enforcer

docs: clarify dual-projection model in RB-0026
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
Due: doc-metadata-autofix, emoji-enforcer

docs: clarify ArgoCD sync for ESO artifacts in ADR-0144 and flow guide
  docs/adrs/ADR-0144-intent-to-projection-parser.md
  how-it-works/SECRET_REQUEST_FLOW.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add next steps to RB-0026
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add surgical targeting to RB-0026
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
Due: doc-metadata-autofix, emoji-enforcer

docs: correct var-file loading instructions in RB-0026
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
Due: doc-metadata-autofix, emoji-enforcer

docs: finalize RB-0026 and clean up flow guide
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
  how-it-works/SECRET_REQUEST_FLOW.md
Due: doc-metadata-autofix, emoji-enforcer

docs: finalize RB-0026 with user-verified terraform apply pattern
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add cleanup section and directory warnings to RB-0026
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
Due: doc-metadata-autofix, emoji-enforcer
