Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.91.0
    hooks:
      - id: terraform_fmt
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ["--config", ".github/linters/markdownlint.yml"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: ["--redact"]
  - repo: local
    hooks:
      - id: doc-metadata-autofix
        name: Doc Metadata Auto-Fix
        entry: python3 scripts/standardize_metadata.py
        language: python
        additional_dependencies:
          - pyyaml
        stages: [pre-commit]
        files: ^docs/.*\.md$
        pass_filenames: true
      - id: emoji-enforcer
        name: Emoji Usage Policy Enforcer
        entry: python3 scripts/enforce_emoji_policy.py
        language: python
        files: \.(md|yaml|yml)$
        pass_filenames: true
      - id: generate-adr-index
        name: Auto-Heal ADR Index
        entry: python3 scripts/generate_adr_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false
      - id: generate-script-index
        name: Auto-Heal Script Index
        entry: python3 scripts/generate_script_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false
      - id: generate-workflow-index
        name: Auto-Heal Workflow Index
        entry: python3 scripts/generate_workflow_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false

fix(docs): align IDs with filenames and patch matrix frontmatter
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  docs/how-it-works/BORN_GOVERNED_LIFECYCLE.md
  how-it-works/DOC_AUTO_HEALING.md
  how-it-works/ECR_REQUEST_FLOW.md
  how-it-works/PR_GUARDRAILS.md
  how-it-works/README.md
  how-it-works/SECRET_REQUEST_FLOW.md
  scripts/generate_script_matrix.py
Due: doc-metadata-autofix, emoji-enforcer

fix(governance): ignore legacy debt and fix dashboards category
  PLATFORM_DASHBOARDS.md
  scripts/validate_metadata.py
Due: emoji-enforcer

fix(governance): move docstring to top of secret_request_parser.py
  scripts/index.md
  scripts/secret_request_parser.py
Due: emoji-enforcer

fix(governance): resolve last metadata validation failure
  docs/contracts/CNT-001-script-standard.md
  scripts/validate_metadata.py
Due: doc-metadata-autofix, emoji-enforcer

style: apply final formatting and polish to registry docs and tests
  how-it-works/GOVERNANCE_REGISTRY_MIRROR.md
  scripts/generate_script_matrix.py
  tests/feature-tests/governance-registry-mirror/test-record-20260112.md
  tests/unit/test_standardize_metadata.py
Due: emoji-enforcer

docs(governance): add script traceability to how-it-works guides
  how-it-works/PR_GUARDRAILS.md
  how-it-works/README.md
Due: emoji-enforcer

fix(governance): finalize script traceability and metadata compliance
  docs/adrs/ADR-0121-value-quantification-framework.md
  docs/adrs/ADR-0124-documentation-and-visibility-suite.md
  docs/adrs/ADR-0145-governance-registry-mirror.md
  docs/adrs/ADR-0146-schema-driven-script-certification.md
  docs/adrs/ADR-0147-automated-governance-backfill.md
  docs/changelog/entries/CL-0120-governance-script-traceability.md
Due: doc-metadata-autofix, emoji-enforcer

fix(governance): re-enable full recursive metadata validation
  scripts/validate_metadata.py
Due: none

style: resolve all pre-commit and markdownlint violations
  .githooks/README.md
  .githooks/pre-commit-script-certification
  .github/workflows/script-certification-gate.yml
  bin/test-verified
  docs/10-governance/GOVERNANCE_REGISTRY_MIGRATION.md
  docs/10-governance/SCRIPT_CERTIFICATION_AUDIT.md
  docs/70-operations/runbooks/RB-0028-governance-registry-operations.md
  docs/adrs/ADR-0145-governance-registry-mirror.md
  docs/adrs/ADR-0146-schema-driven-script-certification.md
  docs/changelog/entries/CL-0114-governance-registry-full-migration.md
  docs/changelog/entries/CL-0115-aws-inventory-migration.md
  docs/changelog/entries/CL-0116-standardize-metadata-dry-run.md
  docs/contracts/CNT-001-script-standard.md
  docs/production-readiness-gates/ROADMAP.md
  how-it-works/GOVERNANCE_REGISTRY_MIRROR.md
  pre_commit_output.txt
  pre_commit_output_2.txt
  pre_commit_output_3.txt
  scripts/generate_script_matrix.py
  scripts/inject_script_metadata.py
  scripts/lib/script_metadata.py
  scripts/platform_health.py
  scripts/repair_shebangs.py
  scripts/validate_govreg.py
  scripts/validate_scripts_tested.py
  test-results/proofs/proof-standardize_metadata.json
  tests/feature-tests/governance-registry-mirror/test-plan.md
  tests/feature-tests/governance-registry-mirror/test-record-20260112.md
Due: doc-metadata-autofix, emoji-enforcer

fix(governance): repair malformed value_ledger.json and update health report
  .goldenpath/value_ledger.json
  PLATFORM_HEALTH.md
Due: emoji-enforcer

fix(governance): repair registry writer artifacts generation
  .github/workflows/governance-registry-writer.yml
Due: emoji-enforcer

feat: eks single-build refactor with ArgoCD Image Updater
  EKS_SINGLE_BUILD_REFACTOR.md
  bootstrap/verify-deployment.sh
  envs/dev/main.tf
  envs/dev/terraform.tfvars
  envs/dev/variables.tf
  gitops/argocd/apps/dev/cluster-autoscaler.yaml
  gitops/kustomize/bases/deployment.yaml
  gitops/kustomize/bases/kustomization.yaml
  modules/aws_iam/main.tf
  modules/aws_iam/outputs.tf
  modules/aws_iam/variables.tf
  modules/kubernetes_addons/argocd.tf
  modules/kubernetes_addons/argocd_image_updater.tf
  modules/kubernetes_addons/aws_lb_controller.tf
  modules/kubernetes_addons/bootstrap_apps.tf
  modules/kubernetes_addons/main.tf
  modules/kubernetes_addons/metrics_server.tf
  modules/kubernetes_addons/outputs.tf
  modules/kubernetes_addons/variables.tf
  modules/kubernetes_addons/verification.tf
Due: emoji-enforcer

latest changes to eks refactor
  docs/70-operations/runbooks/RB-0029-eks-single-build-operations.md
  docs/adrs/ADR-0148-eks-single-build-refactor.md
  docs/changelog/entries/CL-0121-eks-single-build-refactor.md
  scripts/verify_deployment.py
Due: doc-metadata-autofix, emoji-enforcer

chore(governance): align scripts with Born Governed framework
  EKS_SINGLE_BUILD_REFACTOR.md
  bootstrap/verify-deployment.sh
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  docs/70-operations/runbooks/RB-0029-eks-single-build-operations.md
  docs/adrs/01_adr_index.md
  docs/adrs/ADR-0148-eks-single-build-refactor.md
  docs/changelog/entries/CL-0121-eks-single-build-refactor.md
  envs/dev/main.tf
  envs/dev/variables.tf
  scripts/check_script_traceability.py
  scripts/index.md
  scripts/validate_metadata.py
Due: doc-metadata-autofix, emoji-enforcer

style: resolve final markdownlint and emoji policy violations
  EKS_SINGLE_BUILD_REFACTOR.md
  docs/70-operations/runbooks/RB-0029-eks-single-build-operations.md
Due: doc-metadata-autofix, emoji-enforcer

chore(governance): final alignment of emoji policy and script matrix
  scripts/enforce_emoji_policy.py
Due: none

feat(eks): implement schema-driven cluster provisioning
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  docs/adrs/01_adr_index.md
  docs/adrs/ADR-0148-eks-single-build-refactor.md
  docs/catalogs/clusters/platform/dev/EKS-0001.yaml
  docs/changelog/entries/CL-0121-eks-single-build-refactor.md
  schemas/metadata/cluster_request.schema.yaml
  scripts/eks_build_parser.py
  scripts/index.md
Due: doc-metadata-autofix, emoji-enforcer

fix(eks): enable private endpoint and update sg rules for private nodes
  modules/aws_eks/main.tf
  scripts/eks_build_parser.py
Due: none

docs: add governance framework for extension capabilities and environment isolation
  docs/adrs/ADR-0149-directory-based-environment-isolation.md
  docs/changelog/entries/CL-0122-directory-based-environment-isolation.md
  docs/extend-capabilities/EC-0001-knative-integration.md
  docs/extend-capabilities/INDEX.md
  schemas/metadata/extension_capability.schema.yaml
Due: doc-metadata-autofix, emoji-enforcer

docs: finalize ADR-0149 and CL-0122 with standard metadata
  docs/adrs/ADR-0149-vpc-endpoints-for-private-clusters.md
  docs/changelog/entries/CL-0122-vpc-endpoints-implementation.md
Due: doc-metadata-autofix, emoji-enforcer

docs: draft ADR-0150 and CL-0123 for build telemetry enhancement
  docs/adrs/ADR-0150-enhanced-build-telemetry.md
  docs/changelog/entries/CL-0123-enhanced-build-telemetry.md
Due: doc-metadata-autofix, emoji-enforcer

docs: draft ADR-0151, CL-0124, RB-0030 for makefile enforcement
  docs/70-operations/runbooks/RB-0030-break-glass-protocol.md
  docs/adrs/ADR-0151-enforce-makefile-usage.md
  docs/changelog/entries/CL-0124-enforce-makefile-usage.md
Due: doc-metadata-autofix, emoji-enforcer

chore: push comprehensive breakdown of adrs, changelogs, and runbooks
  Makefile
  docs/build-timings.csv
  envs/dev/main.tf
  envs/dev/tfplan
  envs/dev/tfplan_fix
  envs/dev/tfplan_vpce
  modules/vpc/main.tf
  modules/vpc/variables.tf
Due: none

docs: rename conflicting ADR-0149 to ADR-0152
  docs/adrs/ADR-0149-vpc-endpoints-for-private-clusters.md
  docs/adrs/ADR-0152-vpc-endpoints-for-private-clusters.md
  docs/changelog/entries/CL-0122-vpc-endpoints-implementation.md
Due: doc-metadata-autofix, emoji-enforcer

docs: update ADR-0152 to reflect full endpoint suite decision
  docs/adrs/ADR-0152-vpc-endpoints-for-private-clusters.md
Due: doc-metadata-autofix, emoji-enforcer

feat(infra): implement full VPC endpoint suite and break-glass protocol
  docs/decisions/decision_matrix_nat_vs_vpce.md
  envs/dev/main.tf
  envs/dev/tfplan_full_vpce
  modules/aws_eks/main.tf
  modules/vpc/main.tf
  modules/vpc/variables.tf
Due: doc-metadata-autofix, emoji-enforcer

fix(eks): resolve node communication issues with three critical fixes
  modules/aws_eks/main.tf
  modules/vpc/main.tf
Due: none

fix(vpc): add explicit S3 gateway endpoint route table association
  envs/dev/main.tf
  modules/vpc/outputs.tf
Due: none

feat(infra): verified born-governed hybrid architecture with explicit S3 routing and full endpoint suite
  docs/changelog/entries/CL-0122-vpc-endpoints-implementation.md
  envs/dev/tfplan_full_vpce_v2
Due: doc-metadata-autofix, emoji-enforcer

fix(config): disable app_secrets to resolve IAM role dependency
  envs/dev/terraform.tfvars
Due: none

feat(governance): enforce build_id immutability with CSV validation
  envs/dev/main.tf
  envs/dev/variables.tf
Due: none

refactor(governance): use governance-registry branch for build_id validation
  envs/dev/main.tf
  envs/dev/variables.tf
Due: none

docs(governance): add ADR-0153 and CL-0125 for build_id immutability
  docs/adrs/ADR-0153-build-id-immutability-enforcement.md
  docs/changelog/entries/CL-0125-build-id-immutability-enforcement.md
Due: doc-metadata-autofix, emoji-enforcer

refactor(docs): streamline ADR-0153 and extract mechanics to how-it-works
  docs/adrs/ADR-0153-build-id-immutability-enforcement.md
  docs/how-it-works/BUILD_ID_IMMUTABILITY_ENFORCEMENT.md
Due: doc-metadata-autofix, emoji-enforcer

docs(critical): document missing inventory columns in governance-registry CSV
  docs/CRITICAL-build-timings-csv-schema-fix.md
  docs/how-it-works/BUILD_ID_IMMUTABILITY_ENFORCEMENT.md
Due: doc-metadata-autofix, emoji-enforcer

fix(registry): add missing inventory columns to build_timings.csv
  environments/development/latest/build_timings.csv
Due: none

docs(resolved): update documentation to reflect CSV schema fix
  docs/CRITICAL-build-timings-csv-schema-fix.md
  docs/how-it-works/BUILD_ID_IMMUTABILITY_ENFORCEMENT.md
Due: doc-metadata-autofix, emoji-enforcer

feat(k8s-addons): pre-create platform namespaces via terraform
  modules/kubernetes_addons/bootstrap_apps.tf
  modules/kubernetes_addons/namespaces.tf
Due: none

docs(changelog): add CL-0126 for terraform namespace pre-creation
  docs/changelog/entries/CL-0126-terraform-namespace-pre-creation.md
Due: doc-metadata-autofix, emoji-enforcer

fix(dev): add kubernetes_addons dependency to argocd_image_updater SA
  envs/dev/main.tf
Due: none
