Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.91.0
    hooks:
      - id: terraform_fmt
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ["--config", ".github/linters/markdownlint.yml"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: ["--redact"]
  - repo: local
    hooks:
      - id: doc-metadata-autofix
        name: Doc Metadata Auto-Fix
        entry: python3 scripts/standardize_metadata.py
        language: python
        additional_dependencies:
          - pyyaml
        stages: [pre-commit]
        files: ^docs/.*\.md$
        pass_filenames: true
      - id: emoji-enforcer
        name: Emoji Usage Policy Enforcer
        entry: python3 scripts/enforce_emoji_policy.py
        language: python
        files: \.(md|yaml|yml)$
        pass_filenames: true
      - id: generate-adr-index
        name: Auto-Heal ADR Index
        entry: python3 scripts/generate_adr_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false
      - id: generate-script-index
        name: Auto-Heal Script Index
        entry: python3 scripts/generate_script_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false
      - id: generate-workflow-index
        name: Auto-Heal Workflow Index
        entry: python3 scripts/generate_workflow_index.py
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false

Build ID 15-01-26-04
  envs/dev/terraform.tfvars
Due: none

Build ID 15-01-26-06
  envs/dev/terraform.tfvars
Due: none

fix: trigger TF plan on push to development (tfvars changes)
  .github/workflows/pr-terraform-plan.yml
Due: emoji-enforcer

Build ID 15-01-26-08
  .goldenpath/value_ledger.json
  bootstrap/60_tear_down_clean_up/cleanup-orphans.sh
  bootstrap/60_tear_down_clean_up/drain-nodegroup.sh
  bootstrap/60_tear_down_clean_up/goldenpath-idp-teardown-v2.sh
  bootstrap/60_tear_down_clean_up/goldenpath-idp-teardown.sh
  bootstrap/60_tear_down_clean_up/pre-destroy-cleanup.sh
  bootstrap/60_tear_down_clean_up/remove-k8s-service-accounts-from-state.sh
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
  envs/dev/clusters/generated/metadata.yaml
  envs/dev/clusters/metadata.yaml
  envs/dev/terraform.tfvars
  michaels-useful-commands-NOT_FOR_AI.txt
  tests/features/governance_traceability/test-record-20260107.md
Due: doc-metadata-autofix, emoji-enforcer

Build ID 15-01-26-08
  envs/dev/terraform.tfvars
Due: none

feat: capture build timings directly in CI workflows
  .github/workflows/ci-teardown.yml
  .github/workflows/infra-terraform-apply-dev.yml
Due: emoji-enforcer

build_id: 15-01-26-09
  envs/dev/terraform.tfvars
Due: none

docs: add ADR-0156 and CL-0128 for CI build timing capture
  docs/adrs/ADR-0156-platform-ci-build-timing-capture.md
  docs/changelog/entries/CL-0128-ci-build-timing-capture.md
Due: doc-metadata-autofix, emoji-enforcer

fix: sanitize build_id inputs and fix STS ARN format
  .github/workflows/ci-teardown.yml
  .github/workflows/infra-terraform-apply-dev.yml
Due: emoji-enforcer

fix: add kubeconfig setup to ci-teardown workflow
  .github/workflows/ci-teardown.yml
Due: emoji-enforcer

fix: add real-time log streaming and state visibility to teardown
  .github/workflows/ci-teardown.yml
Due: emoji-enforcer

feat: add Backstage self-service template for RDS database requests
  .github/workflows/create-rds-database.yml
  backstage-helm/catalog/all.yaml
  backstage-helm/catalog/templates/rds-request.yaml
  claude_status/2026-01-15_session_summary.md
Due: emoji-enforcer

docs: add How It Works documentation for RDS request flow
  docs/85-how-it-works/self-service/RDS_REQUEST_FLOW.md
Due: doc-metadata-autofix, emoji-enforcer

feat: sync Backstage catalog to governance-registry branch
  .github/workflows/governance-registry-writer.yml
  backstage-helm/charts/backstage/values.yaml
  claude_status/2026-01-15_session_summary.md
  schemas/governance/govreg.schema.yaml
Due: emoji-enforcer

docs: add ADR-0159 and CL-0129 for Backstage catalog registry sync
  docs/adrs/ADR-0159-backstage-catalog-registry-sync.md
  docs/changelog/entries/CL-0129-backstage-catalog-registry-sync.md
Due: doc-metadata-autofix, emoji-enforcer

refactor: rename docs/catalogs to docs/20-contracts/secret-requests
  .github/workflows/request-app-secret.yml
  .github/workflows/secret-request-apply.yml
  .github/workflows/secret-request-pr.yml
  docs/20-contracts/secret-requests/payments/dev/SEC-0007-simulated.yaml
  docs/20-contracts/secret-requests/payments/dev/SEC-0007.yaml
  docs/70-operations/runbooks/RB-0026-local-secret-generation.md
  docs/85-how-it-works/secrets-flow/SECRET_REQUEST_FLOW.md
  docs/adrs/ADR-0143-secret-request-contract.md
  docs/changelog/entries/CL-0111-secret-request-stabilization.md
  scripts/platform_health.py
  scripts/secret_request_parser.py
  tests/feature-tests/secret-request-flow/test-plan.md
  tests/feature-tests/secret-request-flow/test-record-20260111-camelcase-migration.md
Due: doc-metadata-autofix, emoji-enforcer

fix: update remaining catalog path references
  .github/workflows/ci-backstage-sync.yml
  PLATFORM_URGENT_FIX.md
Due: emoji-enforcer

fix: resolve RDS, Backstage, and workflow inconsistencies
  .github/workflows/governance-registry-writer.yml
  .github/workflows/secret-request-pr.yml
  backstage-helm/backstage-catalog/templates/ecr-request.yaml
  backstage-helm/backstage-catalog/templates/rds-request.yaml
  envs/dev-rds/main.tf
  envs/dev-rds/outputs.tf
  envs/dev/main.tf
  envs/dev/terraform.tfvars
Due: emoji-enforcer

feat: add RDS request parser and contract-driven architecture
  docs/20-contracts/rds-requests/dev/RDS-0001.yaml
  docs/85-how-it-works/self-service/CONTRACT_DRIVEN_ARCHITECTURE.md
  docs/extend-capabilities/EC-0001-knative-integration.md
  docs/extend-capabilities/EC-0002-shared-parser-library.md
  docs/extend-capabilities/INDEX.md
  schemas/metadata/enums.yaml
  schemas/requests/rds.schema.yaml
  scripts/rds_request_parser.py
  tests/scripts/__pycache__/test_script_0034.cpython-311-pytest-8.3.2.pyc
  tests/scripts/test_script_0034.py
Due: doc-metadata-autofix, emoji-enforcer

feat: add RDS toggle integration and complete test framework
  docs/adrs/ADR-0160-rds-optional-toggle-integration.md
  docs/changelog/entries/CL-0130-rds-optional-toggle-integration.md
  envs/dev/main.tf
  envs/dev/outputs.tf
  tests/README.md
  tests/scripts/rds-request-parser/actual-output.txt
  tests/scripts/rds-request-parser/test-plan.md
  tests/scripts/rds-request-parser/test-record-20260115.md
Due: doc-metadata-autofix, emoji-enforcer

feat(infra): standardize ephemeral stack and fix terraform plan error
  docs/00-foundations/38_EPHEMERAL_STACK_STRATEGY.md
  docs/70-operations/20_TOOLING_APPS_MATRIX.md
  docs/adrs/ADR-0161-ephemeral-infrastructure-stack.md
  docs/changelog/entries/CL-0131-ephemeral-stack-standardization.md
  envs/dev-rds/main.tf
  envs/dev-rds/terraform.tfvars
  envs/dev-rds/variables.tf
  envs/dev/main.tf
Due: doc-metadata-autofix, emoji-enforcer

feat: Wire Ephemeral Stack & Document Strategy
  claude_status/2026-01-15_session_summary.md
  docs/00-foundations/38_EPHEMERAL_STACK_STRATEGY.md
  docs/70-operations/05_MANUAL_PREREQUISITES.md
  docs/adrs/ADR-0161-ephemeral-infrastructure-stack.md
  envs/dev/terraform.tfvars
  gitops/argocd/apps/local/backstage.yaml
  gitops/argocd/apps/local/cert-manager.yaml
  gitops/argocd/apps/local/cluster-autoscaler.yaml
  gitops/argocd/apps/local/keycloak.yaml
  gitops/argocd/apps/local/kong.yaml
  gitops/argocd/apps/local/local-infra.yaml
  gitops/helm/backstage/values/local.yaml
  gitops/helm/keycloak/values/local.yaml
  gitops/helm/local-infra/Chart.lock
  gitops/helm/local-infra/Chart.yaml
  gitops/helm/local-infra/charts/localstack-0.6.0.tgz
  gitops/helm/local-infra/charts/minio-5.0.0.tgz
  gitops/helm/local-infra/charts/postgresql-12.12.10.tgz
  gitops/helm/local-infra/values.yaml
Due: doc-metadata-autofix, emoji-enforcer

fix: Resolve Secret/IAM race condition and validation errors
  docs/00-foundations/38_EPHEMERAL_STACK_STRATEGY.md
  envs/dev/main.tf
  envs/dev/terraform.tfvars
Due: doc-metadata-autofix, emoji-enforcer

fix(deploy): Resolve RDS version, IAM principals, and Namespace errors
  envs/dev/main.tf
  envs/dev/terraform.tfvars
Due: none

fix(deploy): Finalize V1 stabilization (Bootstrap Complete)
  envs/dev/main.tf
Due: none

fix(gitops): Bump Backstage and Keycloak chart versions to fix missing artifacts
  gitops/argocd/apps/dev/backstage.yaml
  gitops/argocd/apps/dev/keycloak.yaml
Due: emoji-enforcer

fix(backstage): Disable bundled postgres to use RDS
  docs/70-operations/20_TOOLING_APPS_MATRIX.md
  gitops/argocd/apps/dev/backstage.yaml
  gitops/argocd/apps/dev/keycloak.yaml
  gitops/helm/backstage/values/dev.yaml
Due: doc-metadata-autofix, emoji-enforcer

fix(gitops): Inject ExternalSecrets via extraDeploy for Backstage and Keycloak
  gitops/helm/backstage/values/dev.yaml
  gitops/helm/keycloak/values/dev.yaml
Due: emoji-enforcer

fix(gitops): Correct Backstage ExternalSecret key reference
  cluster-secret-store.yaml
  gitops/helm/backstage/values/dev.yaml
  modules/aws_iam/main.tf
Due: emoji-enforcer

fix(gitops): Remove invalid Keycloak image tag/Fix Backstage auth keys
  gitops/helm/backstage/values/dev.yaml
  gitops/helm/keycloak/values/dev.yaml
Due: emoji-enforcer

fix(backstage): Move auth config to backend block / fix(keycloak): Pin image to 25.0.1
  gitops/helm/backstage/values/dev.yaml
  gitops/helm/keycloak/values/dev.yaml
Due: emoji-enforcer

fix(keycloak): Use latest image tag to unblock deployment
  gitops/helm/keycloak/values/dev.yaml
Due: emoji-enforcer

fix(gitops): Update Backstage image and revert Keycloak to default
  gitops/helm/keycloak/values/dev.yaml
Due: emoji-enforcer

fix(gitops): Switch Backstage image to ghcr.io/guymenahem/backstage-platformers:0.0.1
  gitops/helm/backstage/values/dev.yaml
Due: emoji-enforcer

fix(backstage): Force auth key via env var / fix(keycloak): Pin image to 25.0.0
  gitops/helm/backstage/values/dev.yaml
  gitops/helm/keycloak/values/dev.yaml
Due: emoji-enforcer

fix(keycloak): Use ECR Public registry to fix image pull
  gitops/helm/keycloak/values/dev.yaml
Due: emoji-enforcer
