Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

doc-metadata-autofix:
  name: Doc Metadata Auto-Fix
  entry: python3 scripts/standardize_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  stages:
  - pre-commit
  pass_filenames: true

emoji-enforcer:
  name: Emoji Usage Policy Enforcer
  entry: python3 scripts/enforce_emoji_policy.py
  language: python
  pass_filenames: true

chore(registry): record rds-apply for dev build rds
  environments/development/latest/build_timings.csv
Due: none

feat(rds): add K8s Job infrastructure for RDS provisioning (ADR-0165)
  docs/adrs/ADR-0165-rds-user-db-provisioning-automation.md
  envs/dev/main.tf
  envs/dev/terraform.tfvars
  envs/dev/variables.tf
  modules/aws_iam/main.tf
  modules/aws_iam/outputs.tf
  modules/aws_iam/variables.tf
Due: doc-metadata-autofix, emoji-enforcer

docs: update session capture with RDS provisioning fix (Update 8)
  session_capture/2026-01-24-persistent-cluster-teardown-and-deploy-fix.md
Due: emoji-enforcer

fix(rds): grant CREATEDB privilege to application database users
  scripts/rds_provision.py
  session_capture/2026-01-24-persistent-cluster-teardown-and-deploy-fix.md
Due: emoji-enforcer

docs(adr): add ADR-0181 for CREATEDB privilege decision
  docs/adrs/ADR-0165-rds-user-db-provisioning-automation.md
  docs/adrs/ADR-0181-rds-createdb-privilege-for-applications.md
Due: doc-metadata-autofix, emoji-enforcer

fix(secrets): correct GitHub token key to match ExternalSecret
  envs/dev/terraform.tfvars
Due: none

feat(kong): enable Kong Manager ingress for dev environment
  gitops/helm/kong/values/dev.yaml
Due: emoji-enforcer

docs: update Kong Manager hostname in tooling matrix
  docs/70-operations/20_TOOLING_APPS_MATRIX.md
Due: doc-metadata-autofix, emoji-enforcer

feat(kong): expose Admin API for Kong Manager data flow
  gitops/helm/kong/values/dev.yaml
Due: emoji-enforcer

fix(kong): disable Admin API TLS for proper ingress routing
  gitops/helm/kong/values/dev.yaml
Due: emoji-enforcer

docs: add Kong Admin API to tooling matrix
  docs/70-operations/20_TOOLING_APPS_MATRIX.md
Due: doc-metadata-autofix, emoji-enforcer

docs(changelog): add Kong ingress configuration changelogs
  docs/changelog/entries/CL-0170-kong-manager-ingress.md
  docs/changelog/entries/CL-0171-kong-admin-api-ingress.md
  docs/changelog/entries/CL-0172-kong-admin-api-tls-fix.md
  docs/changelog/entries/CL-0173-kong-tooling-matrix-update.md
Due: doc-metadata-autofix, emoji-enforcer

feat(kong): enable Prometheus metrics endpoint and ServiceMonitor
  docs/changelog/entries/CL-0174-kong-prometheus-metrics.md
  gitops/helm/kong/values/dev.yaml
Due: doc-metadata-autofix, emoji-enforcer

feat(argocd): add tooling-dashboards ArgoCD app for all environments
  gitops/argocd/apps/dev/tooling-dashboards.yaml
  gitops/argocd/apps/prod/tooling-dashboards.yaml
  gitops/argocd/apps/staging/tooling-dashboards.yaml
  gitops/argocd/apps/test/tooling-dashboards.yaml
Due: emoji-enforcer

docs(changelog): add CL-0175 for tooling-dashboards ArgoCD app
  docs/changelog/entries/CL-0175-tooling-dashboards-argocd-app.md
Due: doc-metadata-autofix, emoji-enforcer

feat(dashboards): add hello-goldenpath-idp Golden Signals dashboard
  gitops/helm/tooling-dashboards/hello-goldenpath-idp-dashboard.yaml
  gitops/helm/tooling-dashboards/kustomization.yaml
Due: emoji-enforcer

docs(changelog): add CL-0176 for hello-goldenpath-idp dashboard
  docs/changelog/entries/CL-0176-hello-goldenpath-idp-dashboard.md
Due: doc-metadata-autofix, emoji-enforcer

fix(prometheus): add ServerSideApply and CRD settings
  gitops/argocd/apps/dev/kube-prometheus-stack.yaml
  gitops/helm/kube-prometheus-stack/values/dev.yaml
Due: emoji-enforcer

docs(changelog): add CL-0177 for Prometheus CRD fix
  docs/changelog/entries/CL-0177-prometheus-crd-fix.md
Due: doc-metadata-autofix, emoji-enforcer

chore: disable Fluent Bit in favor of Promtail for log collection
  gitops/argocd/apps/dev/fluent-bit.yaml.disabled
  gitops/argocd/apps/prod/fluent-bit.yaml.disabled
  gitops/argocd/apps/staging/fluent-bit.yaml.disabled
  gitops/argocd/apps/test/fluent-bit.yaml.disabled
Due: none

docs(changelog): add CL-0178 for Fluent Bit disable
  docs/changelog/entries/CL-0178-disable-fluent-bit.md
Due: doc-metadata-autofix, emoji-enforcer

fix(prometheus): explicitly enable prometheus server
  gitops/helm/kube-prometheus-stack/values/dev.yaml
Due: emoji-enforcer

fix(prometheus): disable admission webhooks to prevent sync conflicts
  gitops/helm/kube-prometheus-stack/values/dev.yaml
Due: emoji-enforcer

fix(argocd): remove Replace=true to prevent PVC conflicts
  gitops/argocd/apps/dev/kube-prometheus-stack.yaml
Due: emoji-enforcer

fix(argocd): ignore PVC spec differences populated by cluster
  gitops/argocd/apps/dev/kube-prometheus-stack.yaml
Due: emoji-enforcer

docs(changelog): update CL-0177 with complete Prometheus sync fixes
  docs/changelog/entries/CL-0177-prometheus-crd-fix.md
Due: doc-metadata-autofix, emoji-enforcer

fix(grafana): correct Loki datasource URL
  gitops/helm/kube-prometheus-stack/values/dev.yaml
Due: emoji-enforcer

fix(loki): disable isDefault on Grafana datasource
  gitops/helm/loki/values/dev.yaml
Due: emoji-enforcer

fix(loki): disable Grafana datasource sidecar from loki-stack
  gitops/helm/loki/values/dev.yaml
Due: emoji-enforcer

fix(grafana): add explicit UIDs to Loki and Tempo datasources
  gitops/helm/kube-prometheus-stack/values/dev.yaml
Due: emoji-enforcer

docs(changelog): add CL-0179 for Loki datasource fixes
  docs/changelog/entries/CL-0179-loki-datasource-fix.md
Due: doc-metadata-autofix, emoji-enforcer

feat(kong): add global Prometheus plugin for RED metrics
  gitops/helm/kong/values/dev.yaml
Due: emoji-enforcer

fix(kong): add release label to ServiceMonitor for Prometheus discovery
  gitops/helm/kong/values/dev.yaml
Due: emoji-enforcer

docs(changelog): add CL-0180 for Kong Prometheus plugin
  docs/changelog/entries/CL-0180-kong-prometheus-plugin.md
Due: doc-metadata-autofix, emoji-enforcer

feat(observability): add ServiceMonitor configs for platform components
  backstage-helm/charts/backstage/templates/servicemonitor.yaml
  backstage-helm/charts/backstage/values.yaml
  docs/70-operations/50_SERVICEMONITOR_OBSERVABILITY_GUIDE.md
  docs/changelog/entries/CL-0181-tooling-observability-config.md
  docs/changelog/entries/CL-0182-hello-goldenpath-servicemonitor.md
  gitops/helm/argocd/values/dev.yaml
  gitops/helm/backstage/values/dev.yaml
  gitops/helm/keycloak/values/dev.yaml
  gitops/helm/tooling-dashboards/hello-goldenpath-idp-servicemonitor.yaml
  gitops/helm/tooling-dashboards/kustomization.yaml
Due: doc-metadata-autofix, emoji-enforcer

chore: run healing scripts for PR gate compliance
  .goldenpath/value_ledger.json
  docs/00-foundations/product/PRODUCT_THESIS.md
  docs/00-foundations/product/V1_DETERMINISM_CRITERIA.md
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  docs/70-operations/50_SERVICEMONITOR_OBSERVABILITY_GUIDE.md
  docs/changelog/entries/CL-0168-clusterissuers-externaldns-fix.md
  docs/changelog/entries/CL-0169-persistent-cluster-build-timing.md
  docs/changelog/entries/CL-0170-kong-manager-ingress.md
  docs/changelog/entries/CL-0171-kong-admin-api-ingress.md
  docs/changelog/entries/CL-0172-kong-admin-api-tls-fix.md
  docs/changelog/entries/CL-0173-kong-tooling-matrix-update.md
  docs/changelog/entries/CL-0174-kong-prometheus-metrics.md
  docs/changelog/entries/CL-0175-tooling-dashboards-argocd-app.md
  docs/changelog/entries/CL-0176-hello-goldenpath-idp-dashboard.md
  docs/changelog/entries/CL-0177-prometheus-crd-fix.md
  docs/changelog/entries/CL-0178-disable-fluent-bit.md
  docs/changelog/entries/CL-0179-loki-datasource-fix.md
  docs/changelog/entries/CL-0180-kong-prometheus-plugin.md
  docs/changelog/entries/CL-0181-tooling-observability-config.md
  docs/changelog/entries/CL-0182-hello-goldenpath-servicemonitor.md
Due: doc-metadata-autofix, emoji-enforcer

fix: address PR gate compliance failures
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  envs/dev/variables.tf
  scripts/index.md
  scripts/preflight_secrets_check.sh
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

fix: remove non-compliant emojis from docs
  docs/changelog/entries/CL-0178-disable-fluent-bit.md
  session_capture/2026-01-24-build-timing-capture-gap.md
Due: doc-metadata-autofix, emoji-enforcer

fix: add script traceability for preflight_secrets_check.sh
  docs/adrs/ADR-0165-rds-user-db-provisioning-automation.md
  docs/changelog/entries/CL-0183-preflight-secrets-check-metadata.md
Due: doc-metadata-autofix, emoji-enforcer

fix: wrap bare URLs for markdownlint compliance (MD034)
  docs/changelog/entries/CL-0170-kong-manager-ingress.md
  docs/changelog/entries/CL-0171-kong-admin-api-ingress.md
  session_capture/2026-01-24-clusterissuers-externaldns-fix.md
  session_capture/2026-01-24-persistent-cluster-teardown-and-deploy-fix.md
Due: doc-metadata-autofix, emoji-enforcer

Path conditions:
  doc-metadata-autofix: any of: ^docs/.*\.md$
  emoji-enforcer: any of: \.(md|yaml|yml)$
