Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer, validate-script-governance

doc-metadata-autofix:
  name: Doc Metadata Auto-Fix
  entry: python3 scripts/standardize_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  stages:
  - pre-commit
  pass_filenames: true

emoji-enforcer:
  name: Emoji Usage Policy Enforcer
  entry: python3 scripts/enforce_emoji_policy.py
  language: python
  pass_filenames: true

validate-script-governance:
  name: Validate Script Governance
  entry: python3 scripts/validate_scripts_tested.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

feat: add TDD gate requiring tests for all terraform modules
  .github/workflows/ci-terraform-lint.yml
Due: emoji-enforcer

feat: add multi-source test health metrics
  .github/workflows/governance-registry-writer.yml
  docs/20-contracts/prds/PRD-0007-platform-test-health-dashboard.md
  docs/changelog/entries/CL-0197-test-health-metrics-multi-source.md
  scripts/platform_health.py
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

docs: update session capture with TDD Phase 3+4 completion
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
Due: emoji-enforcer

docs: add status update with push confirmation and pending review
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
Due: emoji-enforcer

fix: rename duplicate test method names in test_collect_test_metrics.py
  tests/unit/test_collect_test_metrics.py
Due: none

fix: ArgoCD/LBC webhook race condition - sequential deployment
  docs/changelog/entries/CL-0198-argocd-lbc-webhook-race-fix.md
  modules/kubernetes_addons/main.tf
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
Due: doc-metadata-autofix, emoji-enforcer

fix: improve rds-provision-k8s UX with heartbeat spinner
  envs/dev-rds/terraform.tfvars
  scripts/rds_provision_k8s.sh
Due: validate-script-governance

feat: add branch parameter to rds-provision-k8s
  Makefile
  scripts/rds_provision_k8s.sh
Due: validate-script-governance

fix: improve rds-deploy UX for private RDS
  Makefile
Due: none

fix: clarify rds-provision-k8s runs from local machine
  Makefile
Due: none

docs: update session capture and summary for TDD + operational fixes
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

chore: pre-merge healing scripts and terraform fmt
  .goldenpath/value_ledger.json
  ci-workflows/CI_WORKFLOWS.md
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  docs/adrs/01_adr_index.md
  modules/vpc/tests/vpc.tftest.hcl
  scripts/index.md
Due: doc-metadata-autofix, emoji-enforcer

fix: correct test to use camelCase fields as expected by parser
  tests/scripts/test_script_0043.py
Due: none

fix(ci): lower coverage threshold to 20% baseline for TDD bootstrap
  .github/workflows/python-tests.yml
Due: emoji-enforcer

fix: add metadata headers and improve TDD gate detection
  .github/workflows/tdd-gate.yml
  scripts/rds_provision_k8s.sh
  scripts/validate_request.py
Due: emoji-enforcer, validate-script-governance

fix: sync index drift and fix ADR-0164 metadata validation
  .goldenpath/value_ledger.json
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  docs/adrs/ADR-0164-agent-trust-and-identity.md
  scripts/index.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add session log for development branch fix
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix: sync index drift and fix ADR-0164 metadata (#284)
  .goldenpath/value_ledger.json
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  docs/adrs/ADR-0164-agent-trust-and-identity.md
  scripts/index.md
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

fix: implement missing conditional rule operators in bespoke validator
  scripts/validate_request.py
  tests/scripts/test_validate_request.py
Due: validate-script-governance

docs: add changelog and session capture for conditional operators fix
  docs/changelog/entries/CL-0199-validate-request-conditional-operators.md
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer

docs(adr): add validate_request.py reference for traceability
  docs/adrs/ADR-0166-rds-dual-mode-automation-and-enum-alignment.md
Due: doc-metadata-autofix, emoji-enforcer

fix: implement missing conditional rule operators in bespoke validator (#285)
  docs/adrs/ADR-0166-rds-dual-mode-automation-and-enum-alignment.md
  docs/changelog/entries/CL-0199-validate-request-conditional-operators.md
  scripts/validate_request.py
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
  tests/scripts/test_validate_request.py
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

docs: add session capture for pre-commit fixes
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

revert: preserve append-only session captures
  session_capture/2026-01-21-scaffold-golden-paths.md
  session_capture/2026-01-22-argocd-plugin-integration.md
Due: emoji-enforcer

fix: restore append-only compliance in session captures
  session_capture/2026-01-26-session-capture-tdd-quality-gate.md
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
Due: emoji-enforcer

fix: add ruff config and fix critical bugs
  pyproject.toml
  scripts/sync_ecr_catalog.py
  scripts/validate_scripts_tested.py
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer, validate-script-governance

fix: add ruff config and fix critical bugs (#287)
  pyproject.toml
  scripts/sync_ecr_catalog.py
  scripts/validate_scripts_tested.py
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer, validate-script-governance

fix(ci): pin helm-unittest plugin version for Helm 3.14 compatibility
  .github/workflows/ci-helm-validation.yml
Due: emoji-enforcer

docs: add session logs for helm fix
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix(ci): pin helm-unittest plugin version for Helm 3.14 compatibility (#288)
  .github/workflows/ci-helm-validation.yml
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix: exclude session_capture from pre-commit hooks
  .pre-commit-config.yaml
Due: emoji-enforcer

fix: trigger session-log workflow on pre-commit config changes
  .github/workflows/session-log-required.yml
Due: emoji-enforcer

docs: add session capture/summary for pre-commit exclusion fix
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix: exclude session_capture from pre-commit hooks
  .github/workflows/session-log-required.yml
  .pre-commit-config.yaml
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer

fix: format test metric scripts and add traceability
  docs/adrs/ADR-0183-test-health-metrics-schema.md
  docs/changelog/entries/CL-0197-test-health-metrics-multi-source.md
  scripts/collect_test_metrics.py
  scripts/generate_test_proofs.py
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: doc-metadata-autofix, emoji-enforcer, validate-script-governance

fix: correct heredoc argument passing in record-test-metrics.sh
  scripts/record-test-metrics.sh
  session_capture/2026-01-26-tdd-foundation-and-testing-stack.md
  session_summary/agent_session_summary.md
Due: emoji-enforcer, validate-script-governance

Path conditions:
  doc-metadata-autofix: any of: ^docs/.*\.md$
  emoji-enforcer: any of: \.(md|yaml|yml)$
  validate-script-governance: any of: ^scripts/.*\.(py|sh|bash)$
