Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

doc-metadata-autofix:
  name: Doc Metadata Auto-Fix
  entry: python3 scripts/standardize_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  stages:
  - pre-commit
  pass_filenames: true

emoji-enforcer:
  name: Emoji Usage Policy Enforcer
  entry: python3 scripts/enforce_emoji_policy.py
  language: python
  pass_filenames: true

chore: update session summary
  claude_status/2026-01-15_session_summary.md
Due: emoji-enforcer

chore: refresh governance audit snapshot
  claude_status/2026-01-15_session_summary.md
  docs/10-governance/reports/compliance_snapshot_2026-01-16.json
Due: emoji-enforcer

chore: add gitleaksignore for local dev secrets
  .gitleaksignore
Due: none

fix: resolve emoji policy violations and trailing whitespace
  agent_status/agent_session_summary.md
  backstage-helm/backstage-catalog/docs/governance/governance-script-certification-audit.yaml
  docs/00-foundations/10_PLATFORM_REQUIREMENTS.md
  docs/changelog/entries/CL-0131-ephemeral-stack-standardization.md
  docs/changelog/entries/CL-0137-ootb-observability-dashboards.md
  docs/extend-capabilities/EC-0001-knative-integration.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve remaining pre-commit issues repo-wide
  .github/workflows/pr-secret-rotation-warning.yml
  basic-kind-cluster/Dockercommands.txt
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
  docs/10-governance/reports/compliance_snapshot_2026-01-16.json
  michaels-useful-commands-NOT_FOR_AI.txt
Due: doc-metadata-autofix, emoji-enforcer

feat(teardown): introduce v3 with enhanced reliability and RDS support
  .github/workflows/ci-teardown.yml
  Makefile
  bootstrap/60_tear_down_clean_up/cleanup-orphans.sh
  bootstrap/60_tear_down_clean_up/goldenpath-idp-teardown-v3.sh
  docs/adrs/ADR-0048-platform-teardown-version-selector.md
  docs/adrs/ADR-0164-teardown-v3-enhanced-reliability.md
  docs/changelog/entries/CL-0139-teardown-v3-enhanced-reliability.md
  tests/scripts/teardown-v3/test-record-20260116.md
  tests/scripts/teardown-v3/validate-teardown-v3.sh
Due: doc-metadata-autofix, emoji-enforcer

docs: update session summary with teardown v3 implementation
  agent_status/agent_session_summary.md
Due: emoji-enforcer

docs: add agent session summary template
  agent_summary/agent_session_summary.md
  agent_summary/session_summary_template.md
Due: emoji-enforcer

fix: remove trailing whitespace in agent session summary
  agent_summary/agent_session_summary.md
Due: emoji-enforcer

fix(teardown): remove invalid local keyword outside function
  bootstrap/60_tear_down_clean_up/goldenpath-idp-teardown-v3.sh
Due: none

feat(teardown): enhance v3 with ALB, Classic ELB, Ingress, and Fargate support
  bootstrap/60_tear_down_clean_up/goldenpath-idp-teardown-v3.sh
Due: none

docs: add session summary for teardown v3.1.0 enhancements
  agent_summary/agent_session_summary.md
Due: emoji-enforcer

fix(teardown): improve RDS deletion logging and wait for VPC cleanup
  bootstrap/60_tear_down_clean_up/goldenpath-idp-teardown-v3.sh
Due: none

fix(cleanup): reorder NAT gateway deletion before ENIs for VPC cleanup
  bootstrap/60_tear_down_clean_up/cleanup-orphans.sh
  tests/scripts/teardown-v3/validate-teardown-v3.sh
Due: none

fix(cleanup): add name-pattern fallback search and VPC diagnostics
  bootstrap/60_tear_down_clean_up/cleanup-orphans.sh
Due: none

docs: add session summary section 19 for teardown v3 complete fixes
  agent_summary/agent_session_summary.md
Due: emoji-enforcer

docs: add PRD directory and RDS provisioning spec
  docs/20-contracts/prds/00_INDEX.md
  docs/20-contracts/prds/PRD-0000-template.md
  docs/20-contracts/prds/PRD-0001-rds-user-db-provisioning.md
  docs/20-contracts/prds/README.md
Due: doc-metadata-autofix, emoji-enforcer

docs: add feedback to PRD-0001 RDS user/database provisioning
  docs/20-contracts/prds/PRD-0001-rds-user-db-provisioning.md
Due: doc-metadata-autofix, emoji-enforcer

docs: summarize PRD feedback and add RDS provisioning ADR
  agent_status/agent_session_summary.md
  docs/20-contracts/prds/PRD-0001-rds-user-db-provisioning.md
  docs/adrs/ADR-0165-rds-user-db-provisioning-automation.md
Due: doc-metadata-autofix, emoji-enforcer

database: create test_inventory in dev
  docs/20-contracts/resource-catalogs/rds-catalog.yaml
  envs/dev-rds/terraform.tfvars
  pr_body.txt
Due: emoji-enforcer

database: create test_inventory2 in dev
  docs/20-contracts/resource-catalogs/rds-catalog.yaml
  envs/dev-rds/terraform.tfvars
  pr_body.txt
Due: emoji-enforcer

feat: unify RDS automation flows
  .github/workflows/create-rds-database.yml
  .github/workflows/rds-database-apply.yml
  Makefile
  agent_summary/agent_session_summary.md
  backstage-helm/backstage-catalog/templates/rds-request.yaml
  docs/20-contracts/prds/PRD-0000-template.md
  docs/70-operations/30_PLATFORM_RDS_ARCHITECTURE.md
  docs/70-operations/runbooks/RB-0032-rds-user-provision.md
  docs/85-how-it-works/README.md
  docs/85-how-it-works/self-service/RDS_DUAL_MODE_AUTOMATION.md
  docs/85-how-it-works/self-service/RDS_REQUEST_FLOW.md
  docs/85-how-it-works/self-service/RDS_USER_DB_PROVISIONING.md
  docs/adrs/ADR-0165-rds-user-db-provisioning-automation.md
  docs/adrs/ADR-0166-rds-dual-mode-automation-and-enum-alignment.md
  docs/changelog/entries/CL-0140-rds-user-db-provisioning.md
  gitops/kustomize/bases/kustomization.yaml
  gitops/kustomize/bases/namespaces.yaml
  gitops/kustomize/platform-system/kustomization.yaml
  gitops/kustomize/platform-system/rds-provision-workflowtemplate.yaml
  gitops/kustomize/platform-system/rds-provisioner-rbac.yaml
  scripts/rds_provision.py
  tests/scripts/test_script_0035.py
Due: doc-metadata-autofix, emoji-enforcer

chore: regenerate script certification matrix
  docs/10-governance/SCRIPT_CERTIFICATION_MATRIX.md
Due: doc-metadata-autofix, emoji-enforcer

chore: update value ledger from pre-commit checks
  .goldenpath/value_ledger.json
Due: none

chore: fix trailing whitespace in PRD files
  docs/20-contracts/prds/PRD-0000-template.md
  docs/20-contracts/prds/PRD-0001-rds-user-db-provisioning.md
Due: doc-metadata-autofix, emoji-enforcer

fix: resolve Terraform count dependency on computed IAM role ARN
  envs/dev/main.tf
  modules/aws_secrets_manager/main.tf
  modules/aws_secrets_manager/variables.tf
Due: none

docs: add RDS session feedback from agent review
  rds-session-feedback.md
Due: emoji-enforcer

docs: clarify E2E validation is intentionally post-merge
  rds-session-feedback.md
Due: emoji-enforcer

Rename session summary area and add feedback pointer
  docs/10-governance/07_AI_AGENT_GOVERNANCE.md
  docs/10-governance/09_AGENT_COLLABORATION_MATRIX.md
  docs/adrs/ADR-0163-agent-collaboration-governance.md
  session_capture/2026-01-17-rds-session-feedback.md
  session_summary/agent_session_summary.md
  session_summary/session_summary_template.md
Due: doc-metadata-autofix, emoji-enforcer

Harden RDS guardrails and align schema
  .github/workflows/create-rds-database.yml
  .github/workflows/rds-size-approval-guard.yml
  .github/workflows/rds-tfvars-drift-guard.yml
  backstage-helm/backstage-catalog/templates/rds-request.yaml
  docs/20-contracts/resource-catalogs/README.md
  docs/20-contracts/resource-catalogs/rds-catalog.yaml
  docs/85-how-it-works/self-service/RDS_REQUEST_FLOW.md
  schemas/requests/rds.schema.yaml
Due: doc-metadata-autofix, emoji-enforcer

Update RDS feedback with resolved items
  session_capture/2026-01-17-rds-session-feedback.md
Due: emoji-enforcer

Add CI validation for RDS request schema
  .github/workflows/ci-rds-request-validation.yml
  docs/85-how-it-works/self-service/CONTRACT_DRIVEN_ARCHITECTURE.md
Due: doc-metadata-autofix, emoji-enforcer

Make RDS guardrails warn-only and note non-dev gate
  .github/workflows/rds-size-approval-guard.yml
  .github/workflows/rds-tfvars-drift-guard.yml
  docs/70-operations/30_PLATFORM_RDS_ARCHITECTURE.md
  docs/85-how-it-works/self-service/RDS_DUAL_MODE_AUTOMATION.md
Due: doc-metadata-autofix, emoji-enforcer

Document RDS toggles in runbooks
  docs/70-operations/runbooks/RB-0031-idp-stack-deployment.md
  docs/70-operations/runbooks/RB-0032-rds-user-provision.md
Due: doc-metadata-autofix, emoji-enforcer

Add bidirectional RDS/Backstage metadata links
  docs/20-contracts/prds/PRD-0001-rds-user-db-provisioning.md
  docs/70-operations/30_PLATFORM_RDS_ARCHITECTURE.md
  docs/70-operations/runbooks/RB-0031-idp-stack-deployment.md
  docs/70-operations/runbooks/RB-0032-rds-user-provision.md
  docs/85-how-it-works/self-service/RDS_DUAL_MODE_AUTOMATION.md
  docs/85-how-it-works/self-service/RDS_REQUEST_FLOW.md
  docs/85-how-it-works/self-service/RDS_USER_DB_PROVISIONING.md
  docs/adrs/ADR-0158-platform-standalone-rds-bounded-context.md
  docs/adrs/ADR-0165-rds-user-db-provisioning-automation.md
  docs/adrs/ADR-0166-rds-dual-mode-automation-and-enum-alignment.md
Due: doc-metadata-autofix, emoji-enforcer

Expand relationship scan to session summaries
  scripts/extract_relationships.py
  session_summary/session_summary_template.md
Due: emoji-enforcer

Add relationship/map automation to capabilities
  docs/00-foundations/product/CAPABILITY_LEDGER.md
  docs/00-foundations/product/FEATURES.md
Due: doc-metadata-autofix, emoji-enforcer

Path conditions:
  doc-metadata-autofix: any of: ^docs/.*\.md$
  emoji-enforcer: any of: \.(md|yaml|yml)$
