Repository mikeybeezy/goldenpath-idp-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-metadata-autofix, emoji-enforcer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.91.0
    hooks:
      - id: terraform_fmt
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ["--config", ".github/linters/markdownlint.yml"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: ["--redact"]
  - repo: local
    hooks:
      - id: doc-metadata-autofix
        name: Doc Metadata Auto-Fix
        entry: python3 scripts/standardize_metadata.py
        language: python
        additional_dependencies:
          - pyyaml
        stages: [commit]
        files: ^docs/.*\.md$
        pass_filenames: true
      - id: emoji-enforcer
        name: Emoji Usage Policy Enforcer
        entry: python3 scripts/enforce_emoji_policy.py
        language: python
        files: \.(md|yaml|yml)$
        pass_filenames: true

hot fix for catalog test in backstage
  backstage-helm/catalog/templates/ecr-request.yaml
Due: emoji-enforcer

docs(backstage-helm): point catalog to main
  backstage-helm/CATALOG_TROUBLESHOOTING.md
  backstage-helm/charts/backstage/values.yaml
  backstage-helm/reload-script.txt
  backstage-helm/values-local.yaml
Due: emoji-enforcer

chore(techdocs): switch to external builder
  backstage-helm/charts/backstage/values.yaml
  backstage-helm/values-local.yaml
Due: emoji-enforcer

registry: create mikes-apppppp in dev
  docs/20-contracts/catalogs/ecr-catalog.yaml
  envs/dev/terraform.tfvars
  pr_body.raw
  pr_body.txt
Due: emoji-enforcer

registry: create mike-ddddddd in dev
  docs/20-contracts/catalogs/ecr-catalog.yaml
  envs/dev/terraform.tfvars
  pr_body.raw
  pr_body.txt
Due: emoji-enforcer

fix(backstage): inline repoUrl for ECR template
  backstage-helm/catalog/templates/ecr-request.yaml
Due: emoji-enforcer

registry: create mikes-zzzzzzzzz in dev
  docs/20-contracts/catalogs/ecr-catalog.yaml
  envs/dev/terraform.tfvars
  pr_body.raw
  pr_body.txt
Due: emoji-enforcer

feat(backstage): create ECR PRs from template
  backstage-helm/catalog/templates/ecr-request.yaml
  scripts/scaffold_ecr.py
Due: emoji-enforcer

docs(changelog): add CL-0103 for ECR scaffolder PRs
  docs/changelog/entries/CL-0103-backstage-ecr-pr-scaffolder.md
Due: doc-metadata-autofix, emoji-enforcer

fix(scaffold): allow non-interactive default registry ID
  scripts/scaffold_ecr.py
Due: none

registry: create mikes-yyyyyyy in dev
  docs/20-contracts/catalogs/ecr-catalog.yaml
  envs/dev/terraform.tfvars
  pr_body.raw
  pr_body.txt
Due: emoji-enforcer

registry: create mikes-apppppuuu in dev
  docs/20-contracts/catalogs/ecr-catalog.yaml
  envs/dev/terraform.tfvars
  pr_body.raw
  pr_body.txt
Due: emoji-enforcer

registry: create mikes-zzzzzzzzzaaa in dev
  docs/20-contracts/catalogs/ecr-catalog.yaml
  envs/dev/terraform.tfvars
  pr_body.raw
  pr_body.txt
Due: emoji-enforcer

chore(backstage): enable scaffolder actions and debug
  backstage-helm/catalog/templates/ecr-request.yaml
  backstage-helm/charts/backstage/values.yaml
  backstage-helm/values-local.yaml
Due: emoji-enforcer

registry: create mikes-aprpppp in dev
  docs/20-contracts/catalogs/ecr-catalog.yaml
  envs/dev/terraform.tfvars
  pr_body.raw
  pr_body.txt
Due: emoji-enforcer

registry: create mikes-appoppp in dev
  docs/20-contracts/catalogs/ecr-catalog.yaml
  envs/dev/terraform.tfvars
  pr_body.raw
  pr_body.txt
Due: emoji-enforcer

registry: create backstage-regza in dev
  docs/20-contracts/catalogs/ecr-catalog.yaml
  envs/dev/terraform.tfvars
  pr_body.raw
  pr_body.txt
Due: emoji-enforcer

hotfix(backstage): dispatch ECR workflow
  .gitignore
  backstage-helm/catalog/templates/ecr-request.yaml
  backstage-helm/charts/backstage/values.yaml
  backstage-helm/reload-script.txt
  backstage-helm/values-local.yaml
  docs/70-operations/runbooks/RB-0021-backstage-helm-catalog-visibility.md
Due: doc-metadata-autofix, emoji-enforcer

fix(ci): align registry PR base with dispatch ref
  .github/workflows/create-ecr-registry.yml
Due: emoji-enforcer

chore: normalize EOF for helm notes
  .gitignore
  backstage-helm/reload-script.txt
Due: none

registry: create backstage-regzr in dev
  docs/20-contracts/catalogs/ecr-catalog.yaml
  envs/dev/terraform.tfvars
  pr_body.raw
  pr_body.txt
Due: emoji-enforcer

docs(backstage): add filtered PR link
  backstage-helm/catalog/templates/ecr-request.yaml
Due: emoji-enforcer

docs: add ADR-0141 and CL-0104 for ECR dispatch
  docs/adrs/01_adr_index.md
  docs/adrs/ADR-0141-backstage-ecr-dispatch-workflow.md
  docs/changelog/entries/CL-0104-backstage-ecr-dispatch.md
Due: doc-metadata-autofix, emoji-enforcer

fix(ci): keep ECR PR base on development
  .github/workflows/create-ecr-registry.yml
  backstage-helm/catalog/templates/ecr-request.yaml
  docs/adrs/ADR-0141-backstage-ecr-dispatch-workflow.md
  docs/changelog/entries/CL-0104-backstage-ecr-dispatch.md
Due: doc-metadata-autofix, emoji-enforcer

registry: create backstage-redgzr in dev
  docs/20-contracts/catalogs/ecr-catalog.yaml
  envs/dev/terraform.tfvars
  pr_body.raw
  pr_body.txt
Due: emoji-enforcer

docs(backstage): regenerate catalog docs
  backstage-helm/catalog/docs/adrs-index.yaml
  backstage-helm/catalog/docs/adrs/adr-0141.yaml
  backstage-helm/catalog/docs/changelogs-index.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0103.yaml
  backstage-helm/catalog/docs/changelogs/changelog-0104.yaml
Due: emoji-enforcer

docs: finalize ADR-0141 entry and relationships in index
  .goldenpath/value_ledger.json
  docs/adrs/01_adr_index.md
Due: doc-metadata-autofix, emoji-enforcer

registry: create master-blaster in dev
  docs/20-contracts/catalogs/ecr-catalog.yaml
  envs/dev/terraform.tfvars
  pr_body.raw
  pr_body.txt
Due: emoji-enforcer

docs: auto-heal indices to resolve CI drift
  docs/adrs/01_adr_index.md
  scripts/index.md
Due: doc-metadata-autofix, emoji-enforcer

style: apply pre-commit fixes (end-of-file-fixer)
  .goldenpath/value_ledger.json
  docs/adrs/01_adr_index.md
  scripts/index.md
Due: doc-metadata-autofix, emoji-enforcer

fix: heal indices with relative paths and add missing newlines
  .goldenpath/value_ledger.json
  PLATFORM_HEALTH.md
  docs/10-governance/reports/HEALTH_AUDIT_LOG.md
  docs/10-governance/reports/compliance_snapshot_2026-01-11.json
  docs/adrs/01_adr_index.md
  scripts/generate_script_index.py
  scripts/index.md
Due: doc-metadata-autofix, emoji-enforcer

fix: ensure newlines at end of files for pre-commit
  PLATFORM_HEALTH.md
  docs/10-governance/reports/compliance_snapshot_2026-01-11.json
  scripts/index.md
Due: emoji-enforcer

🏗️ feat: enable local TechDocs for ADRs and Changelogs in development
  backstage-helm/catalog/components/adr-documentation.yaml
  backstage-helm/catalog/components/changelog-documentation.yaml
  backstage-helm/values-local.yaml
Due: emoji-enforcer

🏗️ chore: register root catalog and group docs portal for global visibility
  backstage-helm/catalog/all.yaml
  backstage-helm/catalog/components/adr-documentation.yaml
  backstage-helm/catalog/components/changelog-documentation.yaml
Due: emoji-enforcer
